<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="goods-receiving"></ion-back-button>
		</ion-buttons>

		<ion-title *ngIf="item">
			<ion-button class="title" text-center fill="clear" expand="full" size="small">
				<ion-icon slot="start" name="radio-button-on"></ion-icon>
				#{{item.Id}}
			</ion-button>
		</ion-title>

		<ion-buttons slot="end">
			<ion-button (click)="isShowDetail = !isShowDetail">
				<ion-icon slot="icon-only" [name]="isShowDetail?'eye':'eye-off-outline'"></ion-icon>
			</ion-button>
			<ion-button (click)="refresh()" title="{{'Refresh' | translate}}">
				<ion-icon slot="icon-only" name="reload-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content appScrollbarTheme class="ion-padding">
	<div *ngIf="pageConfig.showSpinner" class="page-loading">
		<ion-spinner name="dots"></ion-spinner>
	</div>

	<div class="empty-message" *ngIf=" !item && pageConfig.showSpinner==false">
		<div class="icon">
			<img style="width: 51vw; max-width: 300px" src="./assets/undraw_empty.svg" />
		</div>
		<div class="message">
			<div class="title">{{'Cannot find order' | translate}}</div>
			<div class="detail"></div>
		</div>
	</div>

	<div class="main-view" *ngIf="item">
		<div class="summary">
			<div class="time">{{storer?.Name}}</div>
			<div class="date">
				<ion-button size="small" fill="clear" [href]="'tel:'+storer?.WorkPhone">#{{storer?.Id}} </ion-button>
				<ion-button *ngIf="storer?.WorkPhone" size="small" fill="clear" [href]="'tel:'+storer?.WorkPhone">
					<ion-icon slot="start" color="danger" name="call"></ion-icon>{{storer?.WorkPhone}}
				</ion-button>
			</div>
			<!-- <div>
                <ion-button *ngIf="pageConfig.canEdit" size="small" (click)="UpdatePosition()" fill="outline" shape="round">
                    <span *ngIf="item.position">{{item.position}}</span>
                    <span *ngIf="!item.position">{{'Update coordinates' | translate}}</span>
                </ion-button>
            </div> -->
			<div class="date">{{storer?.BillingAddress || storer?.Addresses[0].AddressLine1}}</div>
		</div>

		<div class="full-screen">
			<div style="min-height: calc(100vh - 410px)">
				<ion-card class="booking ion-no-margin">
					<!-- <div class="logo"></div> -->

					<!-- Order detail -->
					<ion-card-header>
						<!-- <ion-card-title>
                            <ion-text color="primary">
                                {{item.SaleOrder?.TotalAfterTaxText}} / <small>{{item.SaleOrder?.OriginalTotalAfterTaxText}}</small>
                            </ion-text>
                        </ion-card-title> -->
					</ion-card-header>
					<form [formGroup]="formGroup">
						<ng-container formArrayName="Lines">
							<ion-card-content class="info barcode" *ngFor="let g of formGroup.get('Lines')['controls']; let idx = index;">
								<ng-container [formGroup]="g">
									<div class="field"><b>{{g['value']?._Item?.Code}}</b> - {{g['value']?._Item?.Name}}</div>
									<!-- (ionChange)="changeSoLuong(i)" -->
									<ion-range
										(click)="g.txtQtyShow = !g.txtQtyShow"
										*ngIf="g['value'].UoMQuantityExpected"
										[attr.disabled]="(!pageConfig.canEdit || submitAttempt || item.Status=='Palletized')?'':null"
										(ionChange)="changeSoLuong(g)"
										debounce="300"
										min="0"
										[max]="g['value'].UoMQuantityExpected"
										formControlName="QuantityReceived"
										color="success"
										pin="true"
										step="1"
										[snaps]="g['value'].UoMQuantityExpected < 21"
									>
										<div slot="start">
											<ion-badge
												class="ion-text-lowercase"
												slot="start"
												[color]="g['value'].UoMQuantityExpected == g['value'].QuantityReceived? 'success': 'warning' "
												*ngIf="g['value'].UoMQuantityExpected"
											>
												{{g['value']?.QuantityReceived}} {{item.Lines[idx].UoMName}}</ion-badge
											>
											<input
												(focus)="$event.target.select()"
												[attr.disabled]="(!pageConfig.canEdit || submitAttempt || item.Status=='Palletized')?'':null"
												class="txtQtyInput"
												type="number"
												(change)="changeSoLuong(g, $event)"
												formControlName="QuantityReceived"
												min="0"
												step="1"
												max="999999999999999999"
											/>
										</div>
									</ion-range>

									<div class="c-control" *ngIf="isShowDetail">
										<label class="c-label" for="Lottable0">Lot/Batch:</label>
										<input
											id="Lottable0"
											[attr.disabled]="(!pageConfig.canEdit || submitAttempt || item.Status=='Palletized')?'':null"
											formControlName="Lottable0"
											class="c-input no-check-dirty txtTienInput"
											(change)="saveOrder()"
											type="text"
										/>
									</div>
								</ng-container>
							</ion-card-content>
						</ng-container>
					</form>

					<!-- Add + Palletized Section -->
					<!-- <ion-card-content class="info barcode">
                        <div *ngIf="pageConfig.canEdit">

                            <ion-button fill="clear" size="small" (click)="addOrderLine({ IDOrder: item.Id, Id: 0 })" *ngIf="formGroup.controls.Status.value=='New'">
                                <ion-icon slot="start" name="add-circle"></ion-icon>
                                {{'Add product' | translate}}
                            </ion-button>

                            <ion-button fill="clear" size="small" (click)="palletize()" *ngIf="formGroup.controls.Status.value=='New'">
                                <ion-icon slot="start" name="file-tray-full"></ion-icon>
                                {{'Pallet Allocation' | translate}}
                            </ion-button>

                            <ion-button fill="clear" size="small" (click)="unpalletize()" *ngIf="formGroup.controls.Status.value=='Palletized'">
                                <ion-icon slot="start" name="file-tray"></ion-icon>
                                {{'Bỏ chia để chỉnh số liệu' | translate}}
                            </ion-button>
                        </div>
                    </ion-card-content> -->

					<!-- Thanh toán -->
					<ion-card-content class="info barcode secondary">
						<div class="field"></div>

						<div>
							<ion-badge class="ion-float-right"> {{item.TotalQuantityExpected}}</ion-badge>
							<ion-badge color="secondary">{{'Tổng hàng ước tính' | translate}}</ion-badge>
						</div>

						<div>
							<ion-badge class="ion-float-right"> {{item.TotalQuantityReceived}}</ion-badge>
							<ion-badge color="secondary">{{'Tổng hàng nhận' | translate}}</ion-badge>
						</div>

						<div>
							<ion-badge class="ion-float-right"> {{item.TotalQuantityRejected}}</ion-badge>
							<ion-badge color="secondary">{{'Tổng hàng trả' | translate}}</ion-badge>
						</div>
					</ion-card-content>

					<!-- Hoàn tất btn -->
					<ion-card-content *ngIf="pageConfig.canEdit">
						<div class="ion-padding">
							<ion-button expand="block" (click)="saveDonHang()" color="secondary">{{'Complete' | translate}} </ion-button>

							<ion-button *ngIf="!item.DA_GIAO_HANG" expand="block" fill="outline" (click)="dropAll()" color="secondary">{{'100% returned' | translate}} </ion-button>
						</div>
					</ion-card-content>
				</ion-card>
			</div>
		</div>
	</div>
</ion-content>
