<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-hide-sm-down_">
      <ion-button color="dark" class="ion-hide-sm-down"> {{'In nhãn theo serial' | translate}} </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <!-- <ion-button (click)="changePrintMode()" title="{{'Printing option' | translate}}">
				<ion-icon slot="icon-only" [name]="printMode == 'Ruy96' ? 'cut-outline':'file-tray-full-outline'"></ion-icon>
			</ion-button> -->
      <span class="split ion-hide-sm-down">|</span>
      <ion-button (click)="print()" title="{{'Form printing' | translate}}">
        <ion-icon slot="icon-only" name="print"></ion-icon>
      </ion-button>
      <ion-button (click)="refresh()" title="{{'Refresh' | translate}}">
        <ion-icon slot="icon-only" name="reload-outline"></ion-icon>
      </ion-button>
      <ion-button
        title="{{'Expanded function' | translate}}"
        (click)="pageConfig.isShowFeature = !pageConfig.isShowFeature;"
      >
        <ion-icon slot="icon-only" [name]="pageConfig.isShowFeature? 'close-outline':'list-circle-outline'"> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content appScrollbarTheme appPrintFix class="Ruy96 left" [ngClass]="{withFeature: pageConfig.isShowFeature}">
  <ion-fab
    *ngIf="pageConfig.isShowFeature"
    [ngClass]="{withSearch: pageConfig.isShowSearch}"
    class="feature no-print"
    vertical="top"
    horizontal="start"
    slot="fixed"
  >
    <div class="ion-padding">
      <div class="c-control">
        <label class="c-label" for="Storer">
          <ion-text color="primary"> Từ số </ion-text>
        </label>
        <input
          class="c-input"
          mask="separator.0"
          thousandSeparator=","
          [allowNegativeNumbers]="true"
          [(ngModel)]="item.FromNumber"
        />
      </div>
      <div class="c-control">
        <label class="c-label" for="Storer">
          <ion-text color="primary"> Đến số </ion-text>
        </label>
        <input
          class="c-input"
          mask="separator.0"
          thousandSeparator=","
          [allowNegativeNumbers]="true"
          [(ngModel)]="item.ToNumber"
        />
      </div>
    </div>
    <div style="min-height: calc(100% - 75px)">
      <ion-list-header lines="full">
        <ion-label color="dark">Label settings</ion-label>
      </ion-list-header>
      <ion-list lines="full">
        <ion-item>
          <ion-icon name="qr-code-outline" slot="start"></ion-icon>
          <ion-range [(ngModel)]="lableConfig.QRCodeWidth" [pin]="true" [step]="2" [min]="100" [max]="250"></ion-range>
          <ion-note slot="end">{{ lableConfig.QRCodeWidth }}</ion-note>
        </ion-item>
        <!-- <ion-item>
					<ion-icon name="barcode-outline" slot="start"></ion-icon>
					<ion-range [(ngModel)]="lableConfig.CodeFontSize" [pin]="true" [step]="1" [min]="0" [max]="80" ></ion-range>
					<ion-note slot="end">{{ lableConfig.CodeFontSize }}</ion-note>
				</ion-item> -->
        <ion-item>
          <ion-icon name="text-outline" slot="start"></ion-icon>
          <ion-range [(ngModel)]="lableConfig.NameFontSize" [pin]="true" [step]="1" [min]="0" [max]="80"></ion-range>
          <ion-note slot="end">{{ lableConfig.NameFontSize }}</ion-note>
        </ion-item>
        <!-- <ion-item>
					<ion-icon [name]=" lableConfig.NameLineClamp ==1 ? 'remove-outline' : (lableConfig.NameLineClamp == 2 ? 'reorder-two-outline' : 'reorder-three-outline') " slot="start"></ion-icon>
					<ion-range [(ngModel)]="lableConfig.NameLineClamp" [pin]="true" [step]="1" [min]="1" [max]="3" ></ion-range>
					<ion-note slot="end">{{ lableConfig.NameLineClamp }}</ion-note>
				</ion-item> -->

        <ion-grid fixed>
          <ion-row>
            <ion-col>
              <ion-button
                expand="block"
                fill="outline"
                (click)="this.lableConfig = {PageWidth: 96, QRCodeWidth: 206, CodeFontSize: 0, NameFontSize: 48, NameLineClamp: 2}"
              >
                Reset về mặc định
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </div>
    <div class="functions-list">
      <ion-grid fixed>
        <ion-row>
          <ion-col>
            <ion-button
              expand="block"
              (click)="createPages()"
              [disabled]=" !(item.FromNumber && item.ToNumber) || submitAttempt"
            >
              Tạo nhãn in
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-fab>

  <app-page-message [itemsLength]="items.length" [showSpinner]="pageConfig.showSpinner"></app-page-message>

  <div style="overflow: auto" *ngIf="items.length && !pageConfig.showSpinner">
    <section class="sheet rpt">
      <table>
        <!-- <thead>
					<tr>
						<td>
							<div class="page-header-space"></div>
						</td>
					</tr>
				</thead> -->
        <tbody>
          <tr>
            <td>
              <div class="top-zone">
                <div class="label" [ngClass]="{odd: j % 2 != 0}" *ngFor="let l of items; let j = index;">
                  <div class="l-frame">
                    <div class="l-img-code">
                      <img class="qrc" [src]="l.QRC" [ngStyle]="{width: ''+ lableConfig.QRCodeWidth + 'px' }" />
                    </div>
                    <div class="l-logo"></div>
                    <div class="l-title" [ngStyle]="{'font-size': ''+ lableConfig.NameFontSize + 'px' }">
                      {{l.Value}}
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
        <!-- <tfoot>
					<tr>
						<td>
							<div class="page-footer-space"></div>
						</td>
					</tr>
				</tfoot> -->
      </table>
    </section>
  </div>
</ion-content>
