.Ruy110 .sheet {
    width: 110mm;
    height: auto;
    min-height: auto;//295mm;
    padding: 0;
}

.A5.landscape .sheet {
    width: 110mm;
    height: auto;
    min-height: 147mm;
    padding: 0 10mm;
}

.sheet {
    &.huong-dan {
        padding: 10mm !important;
        height: auto !important;
        min-height: auto !important;
        color: #af305a;

        a {
            color: #af305a;
        }
    }

    .top-zone{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        min-height: calc(110mm/2);
    }

    .label{
        page-break-inside: avoid;
        width: calc(110mm / 2);
        border-right: 1px dashed gray;
        border-bottom: 1px dashed gray;

        &.odd{
            border-right: none;
        }

        .l-title{
            text-align: center;
            font-size: 48px;
            margin-top: -25px;
        }
    }

}

.functions-list {
    top: auto;
    border-top: solid 1px var(--menu-right-border-color);
    box-shadow: 0px -2px 5px 0 rgb(0 0 0 / 10%);

    position: sticky;
    bottom: 0;
}