<ion-header>
	<app-list-toolbar
		pageTitle="{{'Warehouse information' | translate}}"
		[pageConfig]="pageConfig"
		[ShowSearch]="true"
		[selectedItems]="selectedItems"
		[query]="query"
		(add)="add()"
		(refresh)="refresh()"
		(export)="export()"
		(import)="import($event)"
		(help)="help()"
		(unselect)="unselect()"
		(archiveItems)="archiveItems()"
		(deleteItems)="deleteItems()"
		(changeBranch)="changeBranch($event)"
	></app-list-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="left scrollx" [ngClass]="{withFeature: pageConfig.isShowFeature}" forceOverscroll="false">
	<ion-fab *ngIf="pageConfig.isShowFeature" class="feature no-print" vertical="bottom" horizontal="start" slot="fixed">
		<app-page-message [itemsLength]="1" [showSpinner]="pageConfig.showSpinner"></app-page-message>
		<div *ngIf="pageConfig.showSpinner==false">
			<div class="ion-padding" style="padding-bottom: 0">
				<div class="c-control">
					<label class="c-label" for="IDBranch">
						<ion-text color="primary"> {{'Warehouse' | translate}} </ion-text>
					</label>
					<ng-select
						class="c-input no-check-dirty"
						(change)="selectBranch();"
						appendTo=""
						[(ngModel)]="selectedBranch"
						labelForId="IDBranch"
						[items]="branchList"
						bindLabel="Name"
						bindValue=""
						placeholder="{{'Select unit' | translate}}"
					>
						<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
							<div *ngIf="i">
								<div>
									<span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span>
									<span [ngOptionHighlight]="search">{{i.Name}}</span>
								</div>
							</div>
						</ng-template>
					</ng-select>
				</div>

				<div class="c-control">
					<label class="c-label" for="Storer">
						<ion-text color="primary"> {{'Goods owner' | translate}} </ion-text>
					</label>
					<ng-select
						class="c-input no-check-dirty"
						(change)="loadNode();"
						appendTo=""
						[(ngModel)]="selectedStorer"
						labelForId="Storer"
						[items]="storerList"
						bindLabel="Name"
						bindValue=""
						placeholder="{{'Select goods owner' | translate}}"
					>
						<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
							<div *ngIf="i">
								<div>
									<span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span>
									<span [ngOptionHighlight]="search">{{i.Name}}</span>
								</div>
							</div>
						</ng-template>
					</ng-select>
				</div>

				<div class="c-control">
					<label class="c-label" for="Zone">
						<ion-text color="primary"> {{'Zone' | translate}} </ion-text>
					</label>
					<ng-select
						class="c-input no-check-dirty"
						(change)="selectZone();"
						appendTo=""
						[(ngModel)]="selectedZone"
						labelForId="Zone"
						[items]="zoneList"
						bindLabel="Name"
						bindValue=""
						placeholder="{{'Select unit' | translate}}"
					>
						<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
							<div *ngIf="i">
								<div>
									<span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span>
									<span [ngOptionHighlight]="search">{{i.Name}}</span>
								</div>
							</div>
						</ng-template>
					</ng-select>
				</div>

				<div class="c-control">
					<label class="c-label" for="Location">
						<ion-text color="primary"> {{'Location' | translate}} </ion-text>
					</label>
					<ng-select
						class="c-input no-check-dirty"
						(change)="loadNode();"
						appendTo=""
						[(ngModel)]="selectedLocation"
						labelForId="Location"
						[items]="locationList"
						bindLabel="Name"
						bindValue=""
						placeholder="{{'Select unit' | translate}}"
					>
						<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
							<div *ngIf="i">
								<div>
									<span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span>
									<span [ngOptionHighlight]="search">{{i.Name}}</span>
								</div>
							</div>
						</ng-template>
					</ng-select>
				</div>

				<div class="c-control">
					<label class="c-label" for="IDItem">
						<ion-text color="primary"> {{'Item' | translate}} </ion-text>
					</label>
					<ng-select
						class="c-input no-check-dirty"
						(change)="loadNode();"
						appendTo=""
						[(ngModel)]="selectedItem"
						labelForId="IDItem"
						[items]="itemList$ | async"
						[typeahead]="itemListInput$"
						[virtualScroll]="true"
						bindLabel="Name"
						bindValue=""
						placeholder="{{'Search for name or product code' | translate}}"
					>
						<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
							<div *ngIf="i">
								<div>
									<span [ngOptionHighlight]="search">{{i.Name}}</span>
								</div>
								<small
									>#<b><span class="important" [ngOptionHighlight]="search">{{i.Id}} - {{i.Code}}</span></b></small
								>
							</div>
						</ng-template>
					</ng-select>
				</div>

				<div class="c-control">
					<label class="c-label" for="ValidFrom">{{'From date' | translate}}</label>
					<input (change)="loadNode()" [(ngModel)]="fromDate" class="c-input no-check-dirty" type="date" />
				</div>

				<div class="c-control">
					<label class="c-label" for="ValidTo">{{'To date' | translate}}</label>
					<input (change)="loadNode()" [(ngModel)]="toDate" class="c-input no-check-dirty" [min]="fromDate" type="date" />
				</div>
			</div>

			<div *ngIf="selectedBranch">
				<ion-list-header lines="full">
					<ion-label color="dark">{{'Detail listing' | translate}}</ion-label>
				</ion-list-header>
				<ion-list>
					<ion-item
						*ngFor="let i of optionGroup"
						[color]="segmentView == i.Code? 'primary': '' "
						button
						detail="true"
						lines="full"
						class="clickable"
						(click)="loadNode(i)"
					>
						<ion-label class="ion-text-wrap">
							<h3>{{'erp.app.pages.wms.warehouse.' + i.Code | translate}}</h3>
							<p *ngIf="i.Remark">{{i.Remark}}</p>
						</ion-label>
					</ion-item>
				</ion-list>
			</div>
			<div class="ion-padding" style="padding-bottom: 0"></div>
		</div>
	</ion-fab>

	<div *ngIf="selectedBranch && setQuery" style="min-width: 300px; height: calc(100vh - 65px)">
		<app-warehouse-item-location [setQuery]="setQuery" *ngIf="segmentView=='warehouse-item-location'"></app-warehouse-item-location>
		<app-warehouse-item-lot [setQuery]="setQuery" *ngIf="segmentView=='warehouse-item-lot'"></app-warehouse-item-lot>
		<app-warehouse-item-location-lot-lpn [setQuery]="setQuery" *ngIf="segmentView=='warehouse-item-location-lot-lpn'"></app-warehouse-item-location-lot-lpn>
	</div>
</ion-content>
