<ion-header>
	<app-toolbar [page]="this"> </app-toolbar>
</ion-header>
<ion-content appScrollbarTheme class="scrollx left withFeature" [ngClass]="{withFeature: pageConfig.isShowFeature}" forceOverscroll="false">
	<div id="ng-select-header" style="position: absolute; z-index: 30005"></div>
	<ion-fab *ngIf="pageConfig.isShowFeature" [ngClass]="{'ion-hide-md-down' : pageConfig.isSubActive}" class="feature no-print" vertical="bottom" horizontal="start" slot="fixed">
		<div class="ion-padding" style="padding-bottom: 0">
			<app-form-control
				[field]="{id: 'IDBranch', label: 'Warehouse', type : 'ng-select-branch', dataSource: branchList, bindLabel: 'Name', bindValue: 'Id', form : formGroup, branchConfig:{showingType:'Warehouse'} }"
				(change)="changeWarehouse()"
			></app-form-control>
			<app-form-control
				[field]="{id: 'IDStorer', label: 'Goods owner', type : 'ng-select', dataSource: storerList, bindLabel: 'Name', bindValue: 'Id', form : formGroup, clearable: true}"
				(change)="loadData()"
			></app-form-control>
			<app-form-control
				[field]="{id: 'IDPeriodCategory', label: 'Period category', type : 'ng-select', dataSource: periodCategoryList, bindLabel: 'Name', bindValue: 'Id', form : formGroup}"
				(controlChange)="onChangePeriodCategory()"
			></app-form-control>
		</div>

		<ng-container *ngIf="periodList.length>0">
			<ion-list>
				<ion-list-header lines="full">
					<ion-label color="dark">{{'Period list' | translate}}</ion-label>
				</ion-list-header>
			</ion-list>

			<ion-list>
				<ion-item
					[color]="i.Id == query.IDPeriod? 'primary': '' "
					button
					detail="true"
					lines="full"
					*ngFor="let i of periodList"
					(click)="periodClick(i)"
				>
					<ion-icon
						aria-hidden="true"
						[color]="i.Status=='Locked'? 'success': 'warning'"
						[name]="i.Status=='Locked'? 'lock-closed': 'lock-open' "
						slot="start"
					></ion-icon>
					<ion-label class="ion-text-wrap">
						<h3>{{i.Code}}</h3>
						<p>{{i.PostingDateFrom | date: 'yyyy-MM-dd'}} - {{i.PostingDateTo | date: 'yyyy-MM-dd'}}</p>
					</ion-label>
				</ion-item>
			</ion-list>
		</ng-container>
	</ion-fab>

	<app-page-title class="ion-padding safe-max-width" [pageConfig]="pageConfig"></app-page-title>

	<div class="safe-max-width">
		<app-data-table
			class="box-shadow"
			[rows]="items"
			[trackBy]="'Id'"
			[(selectedRows)]="selectedItems"
			[showSpinner]="pageConfig.showSpinner"
			[showFilter]="pageConfig.isShowSearch"
			[(query)]="query"
			
			(filter)="onDatatableFilter($event)"
			(sort)="onSort($event)"
			(selectedRowsChange)="showCommandBySelectedRows($event)"
		>
		<!-- (dataInfinite)="loadData($event)" -->
			<datatable-column [checkbox]="true" name=""></datatable-column>
			<!-- <datatable-column class="col-id" name="#" property="Id" [navLink]="pageConfig.pageName"></datatable-column> -->

			<datatable-column class="col-name flex-break" name="Items" property="IDItem">
				<ng-template let-i="row" datatable-cell-template>
					<span *ngIf="i?._Item && !i?.isEdit" [title]="i._Item.Name">
						<a [routerLink]="'/item/' + i._Item.Id" class="clickable">
							<ion-icon color="warning" *ngIf="i._Item.IsDisabled" name="archive"></ion-icon>
							<span *ngIf="!i._Item.IsDisabled">#</span>{{ i._Item.Id }}&nbsp;</a
						>
						<b>{{ i._Item.Code }}</b> {{ i._Item.Name }}
					</span>
					<app-input-control
						*ngIf="i?.isEdit"
						[field]="{
									id: 'IDItem',
									label: 'Item',
									type: 'ng-select-item',
									form: i?._formGroup,
									dataSource: i?._formGroup.get('_IDItemDataSource').value,
									bindValue: 'Id',
									bindLabel: 'Name',
									clearable: true,
									placeholder: 'Type to search...',
									appendTo: '#ng-select-header',
								}"
					></app-input-control>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-number bold open-qty" format="1.0-0" name="Open quantity" property="OpenQuantity">
				<ng-template let-i="row" datatable-cell-template>
					<app-format-quantity *ngIf="!i?.isEdit"  [quantity]="i.OpenQuantity" [splitQuantityList]="i._SplitOpenQuantity"></app-format-quantity>
					<app-input-control *ngIf="i?.isEdit" [field]="{ id: 'OpenQuantity', type: 'number', form: i?._formGroup }" > </app-input-control> 
				</ng-template>
			</datatable-column>
			<datatable-column class="col-number bold closed-qty" format="1.0-0" name="Closed quantity" property="ClosedQuantity">
				<ng-template let-i="row" datatable-cell-template>
					<app-format-quantity  *ngIf="!i?.isEdit" [quantity]="i.ClosedQuantity" [splitQuantityList]="i._SplitClosedQuantity"></app-format-quantity>
					<app-input-control *ngIf="i?.isEdit" [field]="{ id: 'ClosedQuantity', type: 'number', form: i?._formGroup }" > </app-input-control> 
				</ng-template>
			</datatable-column>

			<datatable-column *ngIf="pageConfig.canEdit" class="col-icon" name="" property="Id">
				<ng-template let-i="row" datatable-cell-template>
					<ion-button *ngIf="!i?.isEdit" (click)="editRow(i)" size="small" title="{{'Edit' | translate}}" fill="clear">
						<ion-icon slot="icon-only" name="pencil"></ion-icon>
					</ion-button>
					<div class="text-center">
						<ion-button *ngIf="i?.isEdit" (click)="saveRow(i)" size="small"> {{'Save' | translate}} </ion-button>
						<br />
						<ion-button *ngIf="i?.isEdit" (click)="cancelRow(i)" size="small" fill="outline"> {{'Cancel' | translate}} </ion-button>
					</div>
				</ng-template>
			</datatable-column>
		</app-data-table>
	</div>

	<div class="ion-padding"></div>
	<ion-infinite-scroll color="primary" threshold="30%" (ionInfinite)="loadData($event)" [disabled]="!pageConfig.infiniteScroll || pageConfig.isEndOfData">
		<ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
