<ion-header>
	<ion-toolbar class="no-padding">
		<ion-buttons slot="start" class="ion-hide-sm-down_">
			<ion-button color="dark" class="ion-hide-sm-down"> {{'Select item' | translate}} </ion-button>
		</ion-buttons>

		<ion-buttons slot="primary">
			<!-- <div class="c-control" style="margin: 0">
				<select class="c-input c-dropdown no-check-dirty" (change)="quickSelectChange('IDDepartment')" [(ngModel)]="quickSelect.IDDepartment">
					<option value="-1">{{'Select by department' | translate}}</option>
					<option [value]="i.Id" *ngFor="let i of departmentList">{{i.NamePadding}} {{i.Count?'('+i.Count+')' : ''}}</option>
				</select>
			</div>
			&nbsp;
			<div class="c-control" style="margin: 0">
				<select class="c-input c-dropdown no-check-dirty" (change)="quickSelectChange('IDJobTitle')" [(ngModel)]="quickSelect.IDJobTitle">
					<option value="-1">{{'Select by titile' | translate}}</option>
					<option [disabled]="!t.Flag" *ngFor="let t of branchList" [value]="t.Id">{{t.NamePadding}} {{t.Count?'('+t.Count+')' : ''}}</option>
				</select>
			</div> -->
			<span class="split ion-hide-sm-down">|</span>

			<ion-button [disabled]="selectedItems.length==0" fill="solid" size="small" color="primary" (click)="SaveSelectedItem()">
				&nbsp;{{'Add' | translate}} {{selectedItems.length}} item&nbsp;
			</ion-button>

			<ion-button title="{{'Search' | translate}}" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch">
				<ion-icon slot="icon-only" name="search-outline"></ion-icon>
			</ion-button>

			<ion-button (click)="refresh()" title="{{'Refresh' | translate}}">
				<ion-icon slot="icon-only" name="reload-outline"></ion-icon>
			</ion-button>

			<ion-button title="{{'Help' | translate}}" (click)="help()">
				<ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
			</ion-button>

			<ion-button title="{{'Close' | translate}}" color="secondary" (click)="closeModal()">
				<ion-icon slot="icon-only" name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="header-table scrollx">
	<app-data-table
		class="box-shadow"
		[rows]="items"
		[trackBy]="'Id'"
		[(selectedRows)]="selectedItems"
		[showSpinner]="pageConfig.showSpinner"
		[showFilter]="pageConfig.isShowSearch"
		[(query)]="query"
		(dataInfinite)="loadData($event)"
		(filter)="onDatatableFilter($event)"
		(sort)="onSort($event)"
		(selectedRowsChange)="showCommandBySelectedRows($event)"
	>
		<datatable-column [checkbox]="true" name=""></datatable-column>
		<datatable-column class="col-id" name="#" property="Id" navLink="item"></datatable-column>
		<datatable-column class="col-name" name="Product" property="Code">
			<ng-template let-i="row" datatable-cell-template>
				<span [title]="i.Name">
					<b>{{ i.Code }}</b>
					{{ i.Name }}
				</span></ng-template
			>
		</datatable-column>
		<datatable-column
			class="col-remark"
			name="Product group"
			property="IDItemGroup"
			filterControlType="ng-select"
			[filterDataSource]="itemGroupList"
			filterBindValue="Id"
			filterBindLabel="Name"
		>
			<ng-template let-i="row" datatable-cell-template> {{i.ItemGroup}} </ng-template>
		</datatable-column>
	</app-data-table>
	<ion-infinite-scroll color="primary" threshold="20%" (ionInfinite)="loadData($event)" [disabled]="!pageConfig.infiniteScroll || pageConfig.isEndOfData">
		<ion-infinite-scroll-content loadingSpinner="dots"> </ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
