<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start" class="ion-hide-sm-down_">
			<ion-button color="dark" class="ion-hide-sm-down"> {{'Creating and printing voucher label' | translate}}
			</ion-button>
		</ion-buttons>
		<ion-buttons slot="end">
			<!-- <ion-button (click)="changePrintMode()" title="{{'Printing option' | translate}}">
				<ion-icon slot="icon-only" [name]="printMode == 'Ruy96' ? 'cut-outline':'file-tray-full-outline'"></ion-icon>
			</ion-button> -->
			<span class="split ion-hide-sm-down">|</span>
			<ion-button (click)="print()" title="{{'Form printing' | translate}}">
				<ion-icon slot="icon-only" name="print"></ion-icon>
			</ion-button>
			<ion-button *ngIf="this.formGroup.controls.Code.value" (click)="downloadQrZip()" title="{{'Download vouchers' | translate}}">
				<ion-icon slot="icon-only" name="cloud-download-outline"></ion-icon>
			</ion-button>
			<ion-button (click)="refresh()" title="{{'Refresh' | translate}}">
				<ion-icon slot="icon-only" name="reload-outline"></ion-icon>
			</ion-button>
			<ion-button title="{{'Expanded function' | translate}}"
				(click)="pageConfig.isShowFeature = !pageConfig.isShowFeature;">
				<ion-icon slot="icon-only" [name]="pageConfig.isShowFeature? 'close-outline':'list-circle-outline'">
				</ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content appScrollbarTheme appPrintFix [ngClass]="[
    formGroup?.get('PrintMode')?.value,
    pageConfig.isShowFeature ? 'withFeature' : ''
  ]" class="left" [style.--custom-width.mm]="formGroup?.get('Width')?.value"
	[style.--custom-height.mm]="formGroup?.get('Height')?.value">
	<ion-fab *ngIf="pageConfig.isShowFeature" [ngClass]="{withSearch: pageConfig.isShowSearch}" class="feature no-print"
		vertical="top" horizontal="start" slot="fixed">
		<div class="ion-padding">
			<ion-row>
				<ion-col size="12">
					<app-form-control (change)="changePRProgram($event)"
						[field]="{id:'IDProgram', type:'ng-select-async', label: 'Program', dataSource:programDataSource,bindLabel:'Name',bindValue:'Id', form:formGroup,clearable:true,placeholder:'text to search...',noCheckDirty:true}"></app-form-control>
					<app-form-control  *ngIf="pageConfig.canViewCode"
						[field]="{id:'Code', type:'textarea', label: 'Voucher code', form:formGroup,noCheckDirty:true}"></app-form-control>
				</ion-col>
			</ion-row>
		</div>
		<div style="min-height: calc(100% - 75px)">
			<ion-list-header lines="full">
				<ion-label color="dark">{{'Label settings' | translate}}</ion-label>
			</ion-list-header>
			<ion-list lines="full" *ngIf="formGroup">

				<ion-list lines="full">
					<ion-item>
						<ion-label> {{'Print mode' | translate}}</ion-label>
						<ion-row>
							<ion-col size="12">
								<div class="c-control" style="margin-bottom: 8px;margin-top: 8px;">
									<app-input-control
										[field]="{id:'PrintMode', type:'ng-select', dataSource:printModeList, bindLabel:'Name',bindValue:'Code',form:formGroup,noCheckDirty:true}"></app-input-control>
								</div>

							</ion-col>


						</ion-row>
						<!-- <ion-toggle slot="end" [checked]=" lableConfig.IsOneColumn"
							[(ngModel)]="lableConfig.IsOneColumn" (ionChange)="changeIsOneColumn()"></ion-toggle> -->
					</ion-item>
					<ion-item *ngIf="formGroup.get('PrintMode').value == 'Custom'">
						<ion-label> {{'Width' | translate}}(mm)</ion-label>
						<ion-row>
							<ion-col size="12">
								<div class="c-control" style="margin-bottom: 8px;margin-top: 8px;">
									<app-input-control
										[field]="{id:'Width', type:'number',  bindLabel:'Width',form:formGroup,noCheckDirty:true}"></app-input-control>
								</div>
							</ion-col>
						</ion-row>
					</ion-item>
					<ion-item *ngIf="formGroup.get('PrintMode').value == 'Custom'">
						<ion-label> {{'Height' | translate}}(mm)</ion-label>
						<ion-row>
							<ion-col size="12">
								<div class="c-control" style="margin-bottom: 8px;margin-top: 8px;">
									<app-input-control
										[field]="{id:'Height', type:'number',  bindLabel:'Height',form:formGroup,noCheckDirty:true}"></app-input-control>
								</div>
							</ion-col>
						</ion-row>
					</ion-item>
					<ion-item>
						<ion-icon name="qr-code-outline" slot="start"></ion-icon>
						<ion-range [(ngModel)]="lableConfig.QRCodeWidth" [pin]="true" [step]="2" [min]="100"
							[max]="250"></ion-range>
						<ion-note slot="end">{{ lableConfig.QRCodeWidth }}</ion-note>
					</ion-item>
					<ion-item>
						<ion-icon name="barcode-outline" slot="start"></ion-icon>
						<ion-range [(ngModel)]="lableConfig.CodeFontSize" [pin]="true" [step]="1" [min]="0"
							[max]="80"></ion-range>
						<ion-note slot="end">{{ lableConfig.CodeFontSize }}</ion-note>
					</ion-item>
					<ion-grid fixed>
						<ion-row>
							<ion-col>
								<ion-button expand="block" fill="outline"
									(click)="resetToDefault()">
									{{'Reset to default' | translate}}
								</ion-button>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-list>
			</ion-list>
		</div>
		<div class="functions-list">
			<ion-grid fixed>
				<ion-row>
					<ion-col>
						<ion-button expand="block" (click)="createPages()"
							[disabled]="!formGroup.valid|| submitAttempt"> {{' Tạo nhãn in' | translate}} </ion-button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>
	</ion-fab>


	<app-page-message [itemsLength]="items?.length" [showSpinner]="pageConfig.showSpinner"></app-page-message>

	<div style="overflow: auto" *ngIf="items?.length && !pageConfig.showSpinner">
		<section class="sheet rpt">
			<table>
				<!-- <thead>
					<tr>
						<td>
							<div class="page-header-space"></div>
						</td>
					</tr>
				</thead> -->
				<tbody>
					<tr>
						<td>
							<div class="top-zone">
								<div class="label" [ngClass]="{odd: j % 2 != 0}"
									*ngFor="let l of items; let j = index;">
									<div class="l-frame">
										<div class="l-img-code">
											<img class="qrc" [src]="l.QRC"
												[ngStyle]="{width: ''+ lableConfig.QRCodeWidth + 'px' }" />
										</div>
										<div class="l-logo"></div>
										<div class="l-title" *ngIf="pageConfig.canViewCode">
											<div class="l-read-code"
												[ngStyle]="{'font-size': ''+ lableConfig.CodeFontSize + 'px' }">
												{{l.Value}} </div>
											<!-- <div
												class="l-item-name"
												[ngStyle]="{'font-size': ''+ lableConfig.NameFontSize + 'px' , '-webkit-line-clamp': ''+ lableConfig.NameLineClamp + '' }"
											>
												#{{l.data}}
											</div> -->
										</div>
									</div>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
				<!-- <tfoot>
					<tr>
						<td>
							<div class="page-footer-space"></div>
						</td>
					</tr>
				</tfoot> -->
			</table>
		</section>
	</div>
</ion-content>