/* ---------- MODE A3 ---------- */
.A3 .sheet {
	width: 297mm;
	height: 420mm;
	padding: 10mm;
}
.A3.landscape .sheet {
	width: 420mm;
	height: 297mm;
	padding: 10mm;
}

/* ---------- MODE A4 ---------- */
.A4 .sheet {
	width: 210mm;
	height: 297mm;
	padding: 10mm;
}
.A4.landscape .sheet {
	width: 297mm;
	height: 210mm;
	padding: 10mm;
}

/* ---------- MODE A5 ---------- */
.A5 .sheet {
	width: 148mm;
	height: 210mm;
	padding: 10mm;
}
.A5.landscape .sheet {
	width: 210mm;
	height: 148mm;
	padding: 10mm;
}

/* ---------- MODE Ruy96 ---------- */
.Ruy96 .sheet {
	width: 96mm;
	min-height: auto;
	height: auto;
	padding: 0;
}
.Custom .sheet {
  width: var(--custom-width, 100mm);
  height: var(--custom-height, 150mm);
  margin: 0 auto;
  box-sizing: border-box;
  background: white;
}

@media print {
  .Custom {
    @page {
      size: var(--custom-width, 100mm) var(--custom-height, 150mm);
      margin: 0;
    }
  }
}
/* ---------- COMMON SHEET STYLE ---------- */
.sheet {
	&.huong-dan {
		padding: 10mm !important;
		height: auto !important;
		min-height: auto !important;
		color: #af305a;

		a {
			color: #af305a;
		}
	}

	.top-zone {
		display: flex;
		flex-wrap: wrap;
		min-height: calc(96mm / 2 - 2px);
	}

	.label {
		page-break-inside: avoid;
		width: calc(96mm / 2 - 2px);
		border-right: 1px dashed gray;
		border-bottom: 1px dashed gray;

		&.odd {
			border-right: none;
		}

		.l-img-code {
			padding: 0px;
			text-align: center;
		}

		.l-title {
			text-align: center;
			margin-top: -15px;
			padding: 0 16px 16px;

			.l-read-code {
				font-size: 15px;
			}

			.l-item-name {
				width: 100%;
				font-size: 9px;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}

/* ---------- STICKY TOOLBAR ---------- */
.functions-list {
	position: sticky;
	bottom: 0;
	top: auto;
	background: linear-gradient(180deg, var(--feature-background-top), var(--feature-background-bottom));
	border-top: 1px solid var(--menu-right-border-color);
	box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}
