.col-name {
}
.storer-name {
  text-transform: uppercase;
  font-weight: bold;
}

.col-saleMan {
  max-width: 250px !important;
  min-width: 250px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.address {
  font-size: 85%;
  color: var(--ion-color-medium) !important;
}

@media screen and (max-width: calc(1164px + 0px)) {
  .filter {
    height: 115px;
  }

  .row {
    .col-icon {
      order: 0;
      max-width: 50px;
      top: auto;
      bottom: 16px;
      opacity: 0.35;
      .min-btn {
        width: 3rem !important;
        height: 3rem !important;
      }
    }
    .col-saleMan {
      display: none;
    }
  }
}
