<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start" class="ion-hide-sm-down_">
			<ion-button color="dark" class="ion-hide-sm-down">
				{{'erp.app.app-component.menu.menu-group.item-uom-label' | translate}}
			</ion-button>
		</ion-buttons>
		<ion-buttons slot="end">
			<!-- <ion-button (click)="changePrintMode()" title="{{'erp.app.pages.shipping.delivery-note.print-mode' | translate}}">
				<ion-icon slot="icon-only" [name]="printMode == 'Ruy110' ? 'cut-outline':'file-tray-full-outline'"></ion-icon>
			</ion-button> -->
			<span class="split ion-hide-sm-down">|</span>
			<ion-button (click)="print()" title="{{'erp.app.pages.shipping.delivery-note.print' | translate}}">
				<ion-icon slot="icon-only" name="print"></ion-icon>
			</ion-button>
			<ion-button (click)="refresh()" title="{{'erp.app.pages.shipping.delivery-note.refresh' | translate}}">
				<ion-icon slot="icon-only" name="reload-outline"></ion-icon>
			</ion-button>
			<ion-button title="{{'erp.app.pages.shipping.delivery-note.show-feature' | translate}}" (click)="pageConfig.isShowFeature = !pageConfig.isShowFeature;">
				<ion-icon slot="icon-only" [name]="pageConfig.isShowFeature? 'close-outline':'list-circle-outline'">
				</ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>


<ion-content appScrollbarTheme appPrintFix class="Ruy110 left" [ngClass]="{withFeature: pageConfig.isShowFeature}">
	<ion-fab *ngIf="pageConfig.isShowFeature" [ngClass]="{withSearch: pageConfig.isShowSearch}" class="feature no-print " vertical="top" horizontal="start" slot="fixed">
		<div class="ion-padding">
			<div class="c-control">
				<label class="c-label" for="ItemGroup">{{'erp.app.pages.wms.item.id-item-group' | translate}}</label>
				<ng-select (change)="changeGroup($event);" bindLabel="Name" bindValue="Id" labelForId="ItemGroup" [(ngModel)]="item.ItemGroup" [items]="ItemGroupDataSource.items$ | async" [typeahead]="ItemGroupDataSource.input$" [loading]="ItemGroupDataSource.loading" placeholder="{{'Search' | translate}}" class="c-input no-check-dirty" [virtualScroll]="true">
					<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
						<div *ngIf="i">
							<div> <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span> <span [ngOptionHighlight]="search">{{i.Name}}</span></div>
						</div>
					</ng-template>
				</ng-select>
			</div>

			<div class="c-control">
				<label class="c-label" for="IDItemUoM">
					<ion-text color="primary">
						Tìm sản phẩm
					</ion-text>
				</label>
				<ng-select (change)="itemUoMChange($event);" labelForId="IDItemUoM" [multiple]="true" [closeOnSelect]="false" [(ngModel)]="item.ItemUoM" [items]="IDItemUoMDataSource.items$ | async" [typeahead]="IDItemUoMDataSource.input$" [loading]="IDItemUoMDataSource.loading" placeholder="{{'Search' | translate}}" class="c-input no-check-dirty" [virtualScroll]="true">
					<ng-template ng-label-tmp let-i="item" let-clear="clear">
						<div>
							<span>{{i._Item.Name}}</span>
							<b><span class="important"> {{i.Name}}</span></b>
							<span *ngIf="i._UoM.Code"> ({{i._UoM.Code}})</span>
							<span *ngIf="i.Barcode"> - {{i.Barcode}}</span>
							<ion-icon (click)="clear(i)" name="close-circle"></ion-icon>
						</div>
					</ng-template>
					<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
						<div *ngIf="i">
							<div><span>#{{i._Item.Id}}</span> - <span [ngOptionHighlight]="search">{{i._Item.Name}}</span></div>
							<small><b><span class="important" [ngOptionHighlight]="search">{{i.Name}}</span></b> <span *ngIf="i._UoM.Code"> ({{i._UoM.Code}})</span> <span *ngIf="i.Barcode"> - {{i.Barcode}}</span> </small>
						</div>
					</ng-template>
				</ng-select>
			</div>
		</div>
		<div style="min-height: calc(100% - 75px);">
			<ion-list-header lines="full">
				<ion-label color="dark">Label settings</ion-label>
			</ion-list-header>
			<ion-list lines="full">

				
				
				<ion-item>
					<ion-icon name="qr-code-outline" slot="start"></ion-icon>
					<ion-range [(ngModel)]="lableConfig.QRCodeWidth" [pin]="true" [step]="2" [min]="100" [max]="250" ></ion-range>
					<ion-note slot="end">{{ lableConfig.QRCodeWidth }}</ion-note>
				</ion-item>
				<ion-item>
					<ion-icon name="barcode-outline" slot="start"></ion-icon>
					<ion-range [(ngModel)]="lableConfig.CodeFontSize" [pin]="true" [step]="1" [min]="0" [max]="80" ></ion-range>
					<ion-note slot="end">{{ lableConfig.CodeFontSize }}</ion-note>
				</ion-item>
				<ion-item>
					<ion-icon name="text-outline" slot="start"></ion-icon>
					<ion-range [(ngModel)]="lableConfig.NameFontSize" [pin]="true" [step]="1" [min]="0" [max]="80" ></ion-range>
					<ion-note slot="end">{{ lableConfig.NameFontSize }}</ion-note>
				</ion-item>
				<ion-item>
					<ion-icon [name]=" lableConfig.NameLineClamp ==1 ? 'remove-outline' : (lableConfig.NameLineClamp == 2 ? 'reorder-two-outline' : 'reorder-three-outline') " slot="start"></ion-icon>
					<ion-range [(ngModel)]="lableConfig.NameLineClamp" [pin]="true" [step]="1" [min]="1" [max]="3" ></ion-range>
					<ion-note slot="end">{{ lableConfig.NameLineClamp }}</ion-note>
				</ion-item>

				<ion-grid fixed>
					<ion-row>
						<ion-col>
							<ion-button expand="block" fill="outline" (click)="this.lableConfig = {PageWidth: 110, QRCodeWidth: 206, CodeFontSize: 15, NameFontSize: 9, NameLineClamp: 2}">
								Reset về mặc định
							</ion-button>
						</ion-col>
					</ion-row>
				</ion-grid>
				

			</ion-list>
		</div>
		<div class="functions-list">
			<ion-grid fixed>
				<ion-row>
					<ion-col>
						<ion-button expand="block" (click)="createPages()" [disabled]="!item.ItemUoM.length || submitAttempt">
							Tạo nhãn in
						</ion-button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>
	</ion-fab>

	<app-page-message [itemsLength]="items.length" [showSpinner]="pageConfig.showSpinner"></app-page-message>

	<div *ngIf="item.ItemUoM.length && isNeedUpdateBarcode" style="min-width: 300px; height: calc(100vh - 65px);">
	</div>


	<div style="overflow: auto;" *ngIf="items.length && !pageConfig.showSpinner">
		<section class="sheet rpt">
			<table>
				<!-- <thead>
					<tr>
						<td>
							<div class="page-header-space"></div>
						</td>
					</tr>
				</thead> -->
				<tbody>
					<tr>
						<td>
							<div class="top-zone">
								<div class="label" [ngClass]="{odd: j % 2 != 0}" *ngFor="let l of items; let j = index;">
									<div class="l-frame">
										<div class="l-img-code" >
											<img class="qrc" [src]="l.QRC" [ngStyle]="{width: ''+ lableConfig.QRCodeWidth + 'px' }">
										</div>
										<div class="l-logo"></div>
										<div class="l-title">
											<div class="l-read-code" [ngStyle]="{'font-size': ''+ lableConfig.CodeFontSize + 'px' }" >
												{{l.Value}} - {{l.data.Name}}
											</div>
											<div class="l-item-name" [ngStyle]="{'font-size': ''+ lableConfig.NameFontSize + 'px' , '-webkit-line-clamp': ''+ lableConfig.NameLineClamp + '' }"   > 
												#{{l.data._Item.Id}} - {{l.data._Item.Name}}
											</div>
											
										</div>
									</div>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
				<!-- <tfoot>
					<tr>
						<td>
							<div class="page-footer-space"></div>
						</td>
					</tr>
				</tfoot> -->
			</table>
		</section>
	</div>
</ion-content>
