<ion-header>
	<app-toolbar [page]="this"></app-toolbar>
</ion-header>

<ion-content appScrollbarTheme>
	<!-- <ion-toolbar color="primary">
		  <ion-segment scrollable="true" (ionChange)="segmentChanged($event)" [value]="segmentView">
			  <ion-segment-button value="s1">
				  <ion-label>{{'General information' | translate}}</ion-label>
			  </ion-segment-button>
		  </ion-segment>
	  </ion-toolbar> -->

	<div class="main-view ion-padding" *ngIf="item && pageConfig.showSpinner==false">
		<div class="row-full shadow full-screen">
			<div>
					<div class="ion-padding">
						<ion-grid fixed>
							<form [formGroup]="formGroup">
								<ion-row class="hr-group">
									<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
										<ion-list-header class="ion-no-padding">
											<ion-label color="primary">{{'General information' | translate}}</ion-label>
										</ion-list-header>
									</ion-col>
									<ion-col size="12" size-sm="8" size-xl="4">

										<app-form-control [field]="{id:'Name', label: 'Name', type :'text', form : formGroup }" (change)="saveChange()"></app-form-control>
										<div class="c-control">
											<label class="c-label" for="IDBranch">{{'Warehouse' | translate}}
											  <span *ngIf="!formGroup.controls.IDBranch.valid && !formGroup.controls.IDBranch.pending && (formGroup.controls.IDBranch.dirty || submitAttempt)" ion-text color="danger">(*)</span>
											</label>
											<ng-select class="c-input" (change)="IDBranchChange();" labelForId="IDBranch" formControlName="IDBranch" [items]="branchList" [virtualScroll]="true" bindLabel="Name" bindValue="Id" placeholder="{{'Search...' | translate}}">
											  <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
												<div *ngIf="i">
												  <div>
													<span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span>
													<span [ngOptionHighlight]="search">{{i.Name}}</span>
												  </div>
												</div>
											  </ng-template>
											</ng-select>
										  </div>
										<app-form-control [field]="{id:'IsStrictLotRotation', label: 'Strict lot Rotation', type :'checkbox', form : formGroup }" (change)="saveChange()"></app-form-control>
										<app-form-control [field]="{id:'IsOverallocateAssigned', label: 'Overal locate assigned', type :'checkbox', form : formGroup }" (change)="saveChange()"></app-form-control>
										<app-form-control [field]="{id:'IsUseSpeedPickLocations', label: 'Use speed pick locations', type :'checkbox', form : formGroup }" (change)="saveChange()"></app-form-control>
										<app-form-control [field]="{id:'FindInZone', label: 'Find in zone', type :'ng-select-async', dataSource:_zoneDataSource, bindLabel:'Name', bindValue:'Id',clearable:true, form : formGroup }" (change)="saveChange()"></app-form-control>
										<app-form-control [field]="{id:'FindLocationType', label: 'Find location type', type :'ng-select', dataSource: locationTypeDatasource, bindLabel:'Name', bindValue:'Id',clearable:true, form : formGroup }" (change)="saveChange()"></app-form-control>
										<app-form-control [field]="{id:'FindLocationCategory', label: 'Find location category', type :'ng-select', dataSource:locationTypeDatasource, bindLabel:'Name', bindValue:'Code',clearable:true, form : formGroup }" (change)="saveChange()"></app-form-control>
									</ion-col>
									<ion-col size="12" size-sm="8" size-xl="4">
										<app-form-control [field]="{id:'Code', label: 'Code', type :'text', form : formGroup }" (change)="saveChange()"></app-form-control>
										<app-form-control [field]="{id:'Type', label: 'Type', type :'text', form : formGroup }" (change)="saveChange()"></app-form-control>

										
										<app-form-control [field]="{id:'SortPriority1', label: 'Sort priority 1', type :'checkbox',  type :'ng-select', dataSource:sortTypeDatasource, bindLabel:'Name', bindValue:'Code',clearable:true, form : formGroup  }" (change)="saveChange()"></app-form-control>
										<app-form-control [field]="{id:'SortPriority2', label: 'Sort priority 2', type :'checkbox',  type :'ng-select', dataSource:sortTypeDatasource, bindLabel:'Name', bindValue:'Code',clearable:true, form : formGroup }" (change)="saveChange()"></app-form-control>
										<app-form-control [field]="{id:'SortPriority3', label: 'Sort priority 3', type :'checkbox',  type :'ng-select', dataSource:sortTypeDatasource, bindLabel:'Name', bindValue:'Code',clearable:true, form : formGroup }" (change)="saveChange()"></app-form-control>
										<app-form-control [field]="{id:'SortPriority4', label: 'Sort priority 4', type :'checkbox', type :'ng-select', 	dataSource:sortTypeDatasource, bindLabel:'Name', bindValue:'Code',clearable:true, form : formGroup }" (change)="saveChange()"></app-form-control>
										<app-form-control [field]="{id:'SortPriority5', label: 'Sort priority 5', type :'checkbox',  type :'ng-select', dataSource:sortTypeDatasource, bindLabel:'Name', bindValue:'Code',clearable:true, form : formGroup }" (change)="saveChange()"></app-form-control>
										<app-form-control [field]="{id:'LPNQuantityRule', label: 'LPN quantity rule',  type :'ng-select', dataSource: LPNQuantityRuleDatasource, bindLabel:'Name', bindValue:'Code', form : formGroup }" (change)="saveChange()"></app-form-control>
									</ion-col>

								</ion-row>
								
								<ion-row class="hr-group" *ngIf="item?.Id">
									<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
										<ion-list lines="none">
											<ion-list-header class="ion-no-padding">
												<ion-label color="primary">{{'Other information' | translate}}</ion-label>
											</ion-list-header>
										</ion-list>
									</ion-col>

									<ion-col size="12" size-sm size-xl="4">
										<app-form-control [field]="{id:'CreatedBy', type : 'text', label: 'Created by', form : formGroup }"></app-form-control>
										<app-form-control [field]="{id:'CreatedDate', type : 'span-datetime', label: 'Created date', form : formGroup }"></app-form-control>
										<app-form-control [field]="{id:'ModifiedBy', type : 'text', label: 'Last modified by', form : formGroup }"></app-form-control>
										<app-form-control [field]="{id:'ModifiedDate', type : 'span-datetime', label: 'Last modified date', form : formGroup }"></app-form-control>
									</ion-col>
									<ion-col size="12" size-sm size-xl="4">
										<app-form-control [field]="{id:'IDBranch', type : 'branch-breadcrumbs', label: 'Branch', form : formGroup, dataSource:env.branchList }"></app-form-control>
										<app-form-control [field]="{id:'Remark', type : 'textarea', label: 'Remark', form : formGroup }" (change)="saveChange()"></app-form-control>
									</ion-col>

								</ion-row>
							</form>
						</ion-grid>
					</div>
			
			</div>
		</div>
	</div>
	<app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
</ion-content>