<ion-header>
	<app-toolbar [page]="this"></app-toolbar>
</ion-header>

<ion-content appScrollbarTheme>
	<!-- <ion-toolbar color="primary">
		  <ion-segment scrollable="true" (ionChange)="segmentChanged($event)" [value]="segmentView">
			  <ion-segment-button value="s1">
				  <ion-label>{{'General information' | translate}}</ion-label>
			  </ion-segment-button>
		  </ion-segment>
	  </ion-toolbar> -->

	<div class="main-view ion-padding" *ngIf="item && pageConfig.showSpinner==false">
		<div class="row-full shadow full-screen">
			<div id="detail-page" style="position: absolute; z-index: 30005"></div>
			<div>
				<div class="ion-padding">
					<ion-grid fixed>
						<form [formGroup]="formGroup">
							<ion-row class="hr-group">
								<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
									<ion-list-header class="ion-no-padding">
										<ion-label color="primary">{{'General information' | translate}}</ion-label>
									</ion-list-header>
								</ion-col>
								<ion-col size="12" size-sm="8" size-xl="4">
									<app-form-control [field]="{id:'Name', label: 'Name', type :'text', form : formGroup }" (change)="saveChange()"></app-form-control>
									<app-form-control
										[field]="{
											id:'IDBranch',
											label: 'Warehouse',
											type :'ng-select-branch',
											dataSource: branchList,
											bindLabel:'Name',
											bindValue:'Id',
											form : formGroup,
											virtualScroll: true,
											clearable: true,
											placeholder:'Search...',
											appendTo: '#detail-page',
											branchConfig:{showingType:'Warehouse', showingMode:'showAll',selectedBranch:this.env.selectedBranch}
										}"
										(change)="IDBranchChange()"
									>
										<ion-text
											label
											*ngIf="!formGroup.controls.IDBranch.valid && !formGroup.controls.IDBranch.pending && (formGroup.controls.IDBranch.dirty || submitAttempt)"
											color="danger"
											>(*)</ion-text
										>
									</app-form-control>
									<app-form-control
										[field]="{id:'IsStrictLotRotation', label: 'Strict lot Rotation', type :'checkbox', form : formGroup }"
										(change)="saveChange()"
									></app-form-control>
									<app-form-control
										[field]="{id:'IsOverallocateAssigned', label: 'Overal locate assigned', type :'checkbox', form : formGroup }"
										(change)="saveChange()"
									></app-form-control>
									<app-form-control
										[field]="{id:'IsUseSpeedPickLocations', label: 'Use speed pick locations', type :'checkbox', form : formGroup }"
										(change)="saveChange()"
									></app-form-control>
									<app-form-control
										[field]="{id:'FindInZone', label: 'Find in zone', type :'ng-select', dataSource:formGroup.get('_zoneDataSource').value, bindLabel:'Name', bindValue:'Id',clearable:true, form : formGroup }"
										(change)="saveChange()"
									></app-form-control>
									<app-form-control
										[field]="{id:'FindLocationType', label: 'Find location type', type :'ng-select', dataSource: locationTypeDatasource, bindLabel:'Name', bindValue:'Code',clearable:true, form : formGroup }"
										(change)="saveChange()"
									></app-form-control>
									<app-form-control
										[field]="{id:'FindLocationCategory', label: 'Find location category', type :'ng-select', dataSource:locationTypeDatasource, bindLabel:'Name', bindValue:'Code',clearable:true, form : formGroup }"
										(change)="saveChange()"
									></app-form-control>
								</ion-col>
								<ion-col size="12" size-sm="8" size-xl="4">
									<app-form-control [field]="{id:'Code', label: 'Code', type :'text', form : formGroup }" (change)="saveChange()"></app-form-control>
									<app-form-control [field]="{id:'Type', label: 'Type', type :'text', form : formGroup }" (change)="saveChange()"></app-form-control>

									<app-form-control
										[field]="{id:'SortPriority1', label: 'Sort priority 1', type :'ng-select', dataSource:sortTypeDatasource, bindLabel:'Name', bindValue:'Code',clearable:true, form : formGroup  }"
										(change)="saveChange()"
									></app-form-control>
									<app-form-control
										[field]="{id:'SortPriority2', label: 'Sort priority 2', type :'ng-select', dataSource:sortTypeDatasource, bindLabel:'Name', bindValue:'Code',clearable:true, form : formGroup }"
										(change)="saveChange()"
									></app-form-control>
									<app-form-control
										[field]="{id:'SortPriority3', label: 'Sort priority 3', type :'ng-select', dataSource:sortTypeDatasource, bindLabel:'Name', bindValue:'Code',clearable:true, form : formGroup }"
										(change)="saveChange()"
									></app-form-control>
									<app-form-control
										[field]="{id:'SortPriority4', label: 'Sort priority 4', type :'ng-select', dataSource:sortTypeDatasource, bindLabel:'Name', bindValue:'Code',clearable:true, form : formGroup }"
										(change)="saveChange()"
									></app-form-control>
									<app-form-control
										[field]="{id:'SortPriority5', label: 'Sort priority 5', type :'ng-select', dataSource:sortTypeDatasource, bindLabel:'Name', bindValue:'Code',clearable:true, form : formGroup }"
										(change)="saveChange()"
									></app-form-control>
									<app-form-control
										[field]="{id:'LPNQuantityRule', label: 'LPN quantity rule', type :'ng-select', dataSource: LPNQuantityRuleDatasource, bindLabel:'Name', bindValue:'Code', form : formGroup }"
										(change)="saveChange()"
									></app-form-control>
								</ion-col>
							</ion-row>

							<ion-row class="hr-group" *ngIf="item?.Id">
								<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
									<ion-list lines="none">
										<ion-list-header class="ion-no-padding">
											<ion-label color="primary">{{'Other information' | translate}}</ion-label>
										</ion-list-header>
									</ion-list>
								</ion-col>

								<ion-col size="12" size-sm size-xl="4">
									<app-form-control [field]="{id:'CreatedBy', type : 'text', label: 'Created by', form : formGroup }"></app-form-control>
									<app-form-control [field]="{id:'CreatedDate', type : 'span-datetime', label: 'Created date', form : formGroup }"></app-form-control>
									<app-form-control [field]="{id:'ModifiedBy', type : 'text', label: 'Last modified by', form : formGroup }"></app-form-control>
									<app-form-control [field]="{id:'ModifiedDate', type : 'span-datetime', label: 'Last modified date', form : formGroup }"></app-form-control>
								</ion-col>
								<ion-col size="12" size-sm size-xl="4">
									<app-form-control
										[field]="{id:'IDBranch', type : 'branch-breadcrumbs', label: 'Branch', form : formGroup, dataSource:env.branchList }"
									></app-form-control>
									<app-form-control [field]="{id:'Remark', type : 'textarea', label: 'Remark', form : formGroup }" (change)="saveChange()"></app-form-control>
								</ion-col>
							</ion-row>
						</form>
					</ion-grid>
				</div>
			</div>
		</div>
	</div>
	<app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
</ion-content>
