<ion-header>
  <app-detail-toolbar [page]="this"></app-detail-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding">
  <div class="main-view" *ngIf="item && pageConfig.showSpinner==false">
    <div
      class="row-full shadow full-screen"
      style="max-width: 1440px; margin: auto; width: 100%; position: relative; z-index: 0"
    >
      <ion-toolbar color="primary">
        <ion-segment scrollable="true" (ionChange)="segmentChanged($event)" [value]="segmentView">
          <ion-segment-button value="s1">
            <ion-label>{{'General information' | translate}}</ion-label>
          </ion-segment-button>

          <ng-container *ngFor="let c of formGroup.get('StorerConfig')['controls']; let idx = index;">
            <ion-segment-button [value]="idx">
              <ion-label *ngIf="c.controls.WarehouseName.value">{{c.controls.WarehouseName.value}}</ion-label>
            </ion-segment-button>
          </ng-container>
        </ion-segment>
        <ion-buttons slot="end" *ngIf="item.Id">
          <ion-button (click)="addStorerConfig({ IDStorer: item.Id,WarehouseName: 'Kho mới'})">
            <ion-icon slot="start" name="add"></ion-icon>
            {{'Add' | translate}}
          </ion-button>
        </ion-buttons>
      </ion-toolbar>

      <div class="ion-padding" *ngIf="segmentView == 's1'">
        <ion-grid fixed>
          <form [formGroup]="formGroup">
            <ion-row class="hr-group">
              <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
                <ion-list-header class="ion-no-padding">
                  <ion-label color="primary">{{'General information' | translate}}</ion-label>
                </ion-list-header>
              </ion-col>

              <ion-col size="12" size-sm size-xl="4">
                <div class="c-control" *ngIf="item.Id">
                  <label class="c-label" for="Id">{{'Id' | translate}}</label>
                  <input class="c-input" id="Id" formControlName="Id" type="number" />
                </div>

                <div class="c-control">
                  <label class="c-label" for="Name"
                    >{{'Name' | translate}}
                    <span
                      *ngIf="!formGroup.controls.Name.valid && !formGroup.controls.Name.pending && (formGroup.controls.Name.dirty || submitAttempt)"
                      ion-text
                      color="danger"
                      >(*)</span
                    >
                  </label>
                  <input class="c-input" id="Name" (change)="saveChange();" formControlName="Name" type="text" />
                </div>
              </ion-col>
              <ion-col size="12" size-sm size-xl="4">
                <div class="c-control">
                  <label class="c-label" for="Code"
                    >{{'Code' | translate}}
                    <span
                      *ngIf="!formGroup.controls.Code.valid && !formGroup.controls.Code.pending && (formGroup.controls.Code.dirty || submitAttempt)"
                      ion-text
                      color="danger"
                      >(*)</span
                    >
                  </label>
                  <input (change)="saveChange()" class="c-input" id="Code" formControlName="Code" type="text" />
                </div>
                <div class="c-control">
                  <label class="c-label" for="Remark"
                    >{{'Remark' | translate}}
                    <span
                      *ngIf="!formGroup.controls.Remark.valid && !formGroup.controls.Remark.pending && (formGroup.controls.Remark.dirty || submitAttempt)"
                      ion-text
                      color="danger"
                      >(*)</span
                    >
                  </label>
                  <textarea
                    rows="3"
                    class="c-input remark"
                    id="Remark"
                    formControlName="Remark"
                    type="textarea"
                  ></textarea>
                </div>
              </ion-col>
            </ion-row>

            <!-- Other information -->
            <ion-row class="hr-group" *ngIf="item.Id">
              <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
                <ion-list-header class="ion-no-padding">
                  <ion-label color="primary">{{'Other information' | translate}}</ion-label>
                </ion-list-header>
              </ion-col>
              <ion-col size="12" size-sm size-xl="4">
                <app-form-control
                  [field]="{id:'CreatedBy', type : 'text', label: 'Created by', form : formGroup }"
                ></app-form-control>
                <app-form-control
                  [field]="{id:'CreatedDate', type : 'span-datetime', label: 'Created date', form : formGroup }"
                ></app-form-control>
                <app-form-control
                  [field]="{id:'ModifiedBy', type : 'text', label: 'Last modified by', form : formGroup }"
                ></app-form-control>
                <app-form-control
                  [field]="{id:'ModifiedDate', type : 'span-datetime', label: 'Last modified date', form : formGroup }"
                ></app-form-control>
              </ion-col>
              <ion-col size="12" size-sm size-xl="4">
                <app-form-control
                  [field]="{id:'IDBranch', type : 'branch-breadcrumbs', label: 'Branch', form : formGroup, dataSource:env.branchList }"
                ></app-form-control>
                <app-form-control
                  [field]="{id:'Remark', type : 'textarea', label: 'Remark', form : formGroup }"
                  (change)="saveChange()"
                ></app-form-control>
              </ion-col>
            </ion-row>
          </form>
        </ion-grid>
      </div>
      <ng-container *ngFor="let g of formGroup.get('StorerConfig')['controls']; let idx = index;">
        <div *ngIf="segmentView == idx">
          <div class="ion-padding">
            <ion-grid fixed>
              <form [formGroup]="g">
                <!-- General -->
                <ion-row class="hr-group">
                  <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
                    <ion-list-header class="ion-no-padding">
                      <ion-label color="primary">{{ 'General' | translate }}</ion-label>
                    </ion-list-header>
                  </ion-col>
                  <ion-col size="12" size-sm="6" size-xl="4">
                    <div class="c-control">
                      <label class="c-label" for="IDWarehouse"
                        >{{ 'Warehouse' | translate }}
                        <span
                          *ngIf="
                            !g.controls.IDWarehouse.valid &&
                            !g.controls.IDWarehouse.pending &&
                            (g.controls.IDWarehouse.dirty || submitAttempt)
                          "
                          ion-text
                          color="danger"
                          >(*)</span
                        >
                      </label>
                      <ng-select
                        class="c-input"
                        (change)="IDWarehouseChange(idx,$event)"
                        labelForId="IDWarehouse"
                        formControlName="IDWarehouse"
                        [items]="branchList"
                        [virtualScroll]="true"
                        bindLabel="Name"
                        bindValue="Id"
                        placeholder="{{ 'Search...' | translate }}"
                      >
                        <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                          <div *ngIf="i">
                            <div>
                              <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span>
                              <span [ngOptionHighlight]="search">{{ i.Name }}</span>
                            </div>
                          </div>
                        </ng-template>
                      </ng-select>
                    </div>

                    <div class="c-control">
                      <label class="c-label" for="StandardCarrierAlphaCode"
                        >{{ 'StandardCarrierAlphaCode' | translate }}
                        <span
                          *ngIf="
                            !g.controls.StandardCarrierAlphaCode.valid &&
                            !g.controls.StandardCarrierAlphaCode.pending &&
                            (g.controls.StandardCarrierAlphaCode.dirty || submitAttempt)
                          "
                          ion-text
                          color="danger"
                          >(*)</span
                        >
                      </label>
                      <input
                        (change)="saveChange()"
                        class="c-input"
                        id="StandardCarrierAlphaCode"
                        formControlName="StandardCarrierAlphaCode"
                      />
                    </div>
                    <div class="c-control">
                      <label class="c-label" for="CreditLimit"
                        >{{ 'CreditLimit' | translate }}
                        <small>{{ 'Maximum amount of the owner credit limit' | translate }}</small>
                        <span
                          *ngIf="
                            !g.controls.CreditLimit.valid &&
                            !g.controls.CreditLimit.pending &&
                            (g.controls.CreditLimit.dirty || submitAttempt)
                          "
                          ion-text
                          color="danger"
                          >(*)</span
                        >
                      </label>
                      <input
                        (change)="saveChange()"
                        class="c-input"
                        id="CreditLimit"
                        formControlName="CreditLimit"
                        mask="separator.9"
                        thousandSeparator=","
                        [allowNegativeNumbers]="false"
                        type="tel"
                      />
                    </div>
                  </ion-col>
                  <ion-col size="12" size-sm="6" size-xl="4">
                    <div class="c-control">
                      <label class="c-label" for="IDCartonGroup"
                        >{{ 'Carton group' | translate }}
                        <span
                          *ngIf="
                            !g.controls.IDCartonGroup.valid &&
                            !g.controls.IDCartonGroup.pending &&
                            (g.controls.IDCartonGroup.dirty || submitAttempt)
                          "
                          ion-text
                          color="danger"
                          >(*)</span
                        >
                      </label>
                      <input
                        (change)="saveChange()"
                        class="c-input"
                        id="IDCartonGroup"
                        formControlName="IDCartonGroup"
                      />
                    </div>
                  </ion-col>
                </ion-row>

                <!-- Task -->
                <ion-row class="hr-group">
                  <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
                    <ion-list-header class="ion-no-padding">
                      <ion-label color="primary">{{ 'Task' | translate }}</ion-label>
                    </ion-list-header>
                  </ion-col>
                  <ion-col size="12" size-sm="12" size-xl="8">
                    <div class="c-control">
                      <span class="no-warp">
                        <input
                          (change)="saveChange()"
                          class="c-checkbox"
                          id="isActivated"
                          formControlName="isActivated"
                          type="checkbox"
                        />
                        <label class="c-label checkbox" for="isActivated"
                          >{{ 'Activate' | translate }}
                          <span
                            *ngIf="
                              !g.controls.isActivated.valid &&
                              !g.controls.isActivated.pending &&
                              (g.controls.isActivated.dirty || submitAttempt)
                            "
                            ion-text
                            color="danger"
                            >(*)</span
                          >
                        </label>
                      </span>
                    </div>
                    <div class="c-control">
                      <span class="no-warp">
                        <input
                          (change)="saveChange()"
                          class="c-checkbox"
                          id="IsEnablePacking"
                          formControlName="IsEnablePacking"
                          type="checkbox"
                        />
                        <label class="c-label checkbox" for="IsEnablePacking"
                          >{{ 'Enable packing' | translate }}
                          <span
                            *ngIf="
                              !g.controls.IsEnablePacking.valid &&
                              !g.controls.IsEnablePacking.pending &&
                              (g.controls.IsEnablePacking.dirty || submitAttempt)
                            "
                            ion-text
                            color="danger"
                            >(*)</span
                          >
                        </label>
                      </span>
                      <span class="no-warp">
                        <input
                          (change)="saveChange()"
                          class="c-checkbox"
                          id="IsQCInspectAtPack"
                          formControlName="IsQCInspectAtPack"
                          type="checkbox"
                        />
                        <label class="c-label checkbox" for="IsQCInspectAtPack"
                          >{{ 'QC Inspect at pack' | translate }}
                          <span
                            *ngIf="
                              !g.controls.IsQCInspectAtPack.valid &&
                              !g.controls.IsQCInspectAtPack.pending &&
                              (g.controls.IsQCInspectAtPack.dirty || submitAttempt)
                            "
                            ion-text
                            color="danger"
                            >(*)</span
                          >
                        </label>
                      </span>
                    </div>
                    <div class="c-control">
                      <span class="no-warp">
                        <input
                          (change)="saveChange()"
                          class="c-checkbox"
                          id="IsAllowMultiZoneRainbowPallet"
                          formControlName="IsAllowMultiZoneRainbowPallet"
                          type="checkbox"
                        />
                        <label class="c-label checkbox" for="IsAllowMultiZoneRainbowPallet"
                          >{{ 'Allow multi zone rainbow pallet' | translate }}
                          <span
                            *ngIf="
                              !g.controls.IsAllowMultiZoneRainbowPallet.valid &&
                              !g.controls.IsAllowMultiZoneRainbowPallet.pending &&
                              (g.controls.IsAllowMultiZoneRainbowPallet.dirty || submitAttempt)
                            "
                            ion-text
                            color="danger"
                            >(*)</span
                          >
                        </label>
                      </span>
                    </div>
                    <div class="c-control">
                      <span class="no-warp">
                        <input
                          (change)="saveChange()"
                          class="c-checkbox"
                          id="AllowCommingledLPN"
                          formControlName="AllowCommingledLPN"
                          type="checkbox"
                        />
                        <label class="c-label checkbox" for="AllowCommingledLPN"
                          >{{ 'Allow commingled LPN' | translate }}
                          <span
                            *ngIf="
                              !g.controls.AllowCommingledLPN.valid &&
                              !g.controls.AllowCommingledLPN.pending &&
                              (g.controls.AllowCommingledLPN.dirty || submitAttempt)
                            "
                            ion-text
                            color="danger"
                            >(*)</span
                          >
                        </label>
                      </span>
                    </div>
                  </ion-col>
                  <ion-col size="12" size-sm="6" size-xl="4" offset-xl="3">
                    <div class="c-control">
                      <label class="c-label" for="DefaultItemRotation"
                        >{{ 'Default item rotation' | translate }}
                        <span
                          *ngIf="
                            !g.controls.DefaultItemRotation.valid &&
                            !g.controls.DefaultItemRotation.pending &&
                            (g.controls.DefaultItemRotation.dirty || submitAttempt)
                          "
                          ion-text
                          color="danger"
                          >(*)</span
                        >
                      </label>
                      <ng-select (change)="saveChange()" class="c-input" formControlName="DefaultItemRotation">
                        <ng-option value="Lot">
                          <span>Lot</span>
                        </ng-option>
                      </ng-select>
                    </div>
                    <div class="c-control">
                      <label class="c-label" for="DefaultRotation"
                        >{{ 'Default rotation' | translate }}
                        <span
                          *ngIf="
                            !g.controls.DefaultRotation.valid &&
                            !g.controls.DefaultRotation.pending &&
                            (g.controls.DefaultRotation.dirty || submitAttempt)
                          "
                          ion-text
                          color="danger"
                          >(*)</span
                        >
                      </label>

                      <ng-select (change)="saveChange()" class="c-input" formControlName="DefaultRotation">
                        <ng-option value="FIFO">{{ 'FIFO' | translate }}</ng-option>
                        <ng-option value="LIFO">{{ 'LIFO' | translate }}</ng-option>
                      </ng-select>
                    </div>
                    <div class="c-control">
                      <label class="c-label" for="DefaultStrategy"
                        >{{ 'Default strategy' | translate }}
                        <span
                          *ngIf="
                            !g.controls.DefaultStrategy.valid &&
                            !g.controls.DefaultStrategy.pending &&
                            (g.controls.DefaultStrategy.dirty || submitAttempt)
                          "
                          ion-text
                          color="danger"
                          >(*)</span
                        >
                      </label>
                      <ng-select (change)="saveChange()" class="c-input" formControlName="DefaultStrategy">
                        <ng-option [value]="1">{{ 'Std' | translate }}</ng-option>
                      </ng-select>
                    </div>
                    <div class="c-control">
                      <label class="c-label" for="DefaultPutawayStrategy"
                        >{{ 'Default putaway strategy' | translate }}
                        <span
                          *ngIf="
                            !g.controls.DefaultPutawayStrategy.valid &&
                            !g.controls.DefaultPutawayStrategy.pending &&
                            (g.controls.DefaultPutawayStrategy.dirty || submitAttempt)
                          "
                          ion-text
                          color="danger"
                          >(*)</span
                        >
                      </label>
                      <ng-select (change)="saveChange()" class="c-input" formControlName="DefaultPutawayStrategy">
                        <ng-option [value]="1">{{ 'Std' | translate }}</ng-option>
                      </ng-select>
                    </div>
                  </ion-col>
                  <ion-col size="12" size-sm="6" size-xl="4">
                    <div class="c-control">
                      <label class="c-label" for="DefaultInboundQCLocation"
                        >{{ 'Default inbound QC location' | translate }}
                        <span
                          *ngIf="
                            !g.controls.DefaultInboundQCLocation.valid &&
                            !g.controls.DefaultInboundQCLocation.pending &&
                            (g.controls.DefaultInboundQCLocation.dirty || submitAttempt)
                          "
                          ion-text
                          color="danger"
                          >(*)</span
                        >
                      </label>
                      <ng-select
                        class="c-input"
                        (change)="saveChange()"
                        labelForId="DefaultInboundQCLocation"
                        formControlName="DefaultInboundQCLocation"
                        [items]="locationList"
                        [virtualScroll]="true"
                        bindLabel="Name"
                        bindValue="Id"
                        placeholder="{{ 'Search' | translate }}"
                      >
                        <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                          <div *ngIf="i">
                            <div>
                              <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span>
                              <span [ngOptionHighlight]="search">{{ i.Name }}</span>
                            </div>
                          </div>
                        </ng-template>
                      </ng-select>
                    </div>
                    <div class="c-control">
                      <label class="c-label" for="DefaultOutboundQCLocation"
                        >{{ 'Default outbound QC location' | translate }}
                        <span
                          *ngIf="
                            !g.controls.DefaultOutboundQCLocation.valid &&
                            !g.controls.DefaultOutboundQCLocation.pending &&
                            (g.controls.DefaultOutboundQCLocation.dirty || submitAttempt)
                          "
                          ion-text
                          color="danger"
                          >(*)</span
                        >
                      </label>
                      <ng-select
                        class="c-input"
                        (change)="saveChange()"
                        labelForId="DefaultOutboundQCLocation"
                        formControlName="DefaultOutboundQCLocation"
                        [items]="locationList"
                        [virtualScroll]="true"
                        bindLabel="Name"
                        bindValue="Id"
                        placeholder="{{ 'Search' | translate }}"
                      >
                        <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                          <div *ngIf="i">
                            <div>
                              <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span>
                              <span [ngOptionHighlight]="search">{{ i.Name }}</span>
                            </div>
                          </div>
                        </ng-template>
                      </ng-select>
                    </div>
                    <div class="c-control">
                      <label class="c-label" for="DefaultReturnsReceiptLocation"
                        >{{ 'Default returns receipt location' | translate }}
                        <span
                          *ngIf="
                            !g.controls.DefaultReturnsReceiptLocation.valid &&
                            !g.controls.DefaultReturnsReceiptLocation.pending &&
                            (g.controls.DefaultReturnsReceiptLocation.dirty || submitAttempt)
                          "
                          ion-text
                          color="danger"
                          >(*)</span
                        >
                      </label>
                      <ng-select
                        class="c-input"
                        (change)="saveChange()"
                        labelForId="DefaultReturnsReceiptLocation"
                        formControlName="DefaultReturnsReceiptLocation"
                        [items]="locationList"
                        [virtualScroll]="true"
                        bindLabel="Name"
                        bindValue="Id"
                        placeholder="{{ 'Search' | translate }}"
                      >
                        <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                          <div *ngIf="i">
                            <div>
                              <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span>
                              <span [ngOptionHighlight]="search">{{ i.Name }}</span>
                            </div>
                          </div>
                        </ng-template>
                      </ng-select>
                    </div>
                    <div class="c-control">
                      <label class="c-label" for="DefaultPackingLocation"
                        >{{ 'Default packing location' | translate }}
                        <span
                          *ngIf="
                            !g.controls.DefaultPackingLocation.valid &&
                            !g.controls.DefaultPackingLocation.pending &&
                            (g.controls.DefaultPackingLocation.dirty || submitAttempt)
                          "
                          ion-text
                          color="danger"
                          >(*)</span
                        >
                      </label>
                      <ng-select
                        class="c-input"
                        (change)="saveChange()"
                        labelForId="DefaultPackingLocation"
                        formControlName="DefaultPackingLocation"
                        [items]="locationList"
                        [virtualScroll]="true"
                        bindLabel="Name"
                        bindValue="Id"
                        placeholder="{{ 'Search' | translate }}"
                      >
                        <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                          <div *ngIf="i">
                            <div>
                              <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span>
                              <span [ngOptionHighlight]="search">{{ i.Name }}</span>
                            </div>
                          </div>
                        </ng-template>
                      </ng-select>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row class="hr-group" style="border: none">
                  <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
                    <ion-list-header class="ion-no-padding">
                      <ion-label color="primary">{{ 'Label' | translate }}</ion-label>
                    </ion-list-header>
                  </ion-col>
                  <ion-col size="12" size-sm="6" size-xl="4">
                    <div class="c-control">
                      <label class="c-label" for="LPNBarcodeSymbology"
                        >{{ 'LPN barcode symbology' | translate }}
                        <span
                          *ngIf="
                            !g.controls.LPNBarcodeSymbology.valid &&
                            !g.controls.LPNBarcodeSymbology.pending &&
                            (g.controls.LPNBarcodeSymbology.dirty || submitAttempt)
                          "
                          ion-text
                          color="danger"
                          >(*)</span
                        >
                      </label>

                      <ng-select (change)="saveChange()" class="c-input" formControlName="LPNBarcodeSymbology">
                        <ng-option value="Code39"> {{ 'Code 39' | translate }} </ng-option>
                        <ng-option value="Code128"> {{ 'Code 128' | translate }} </ng-option>
                        <ng-option value="DataMatrix"> {{ 'Data matrix' | translate }} </ng-option>
                        <ng-option value="QRCode"> {{ 'QR code' | translate }} </ng-option>
                      </ng-select>
                    </div>
                    <div class="c-control">
                      <label class="c-label" for="LPNBarcodeFormat"
                        >{{ 'LPN barcode format' | translate }}
                        <span
                          *ngIf="
                            !g.controls.LPNBarcodeFormat.valid &&
                            !g.controls.LPNBarcodeFormat.pending &&
                            (g.controls.LPNBarcodeFormat.dirty || submitAttempt)
                          "
                          ion-text
                          color="danger"
                          >(*)</span
                        >
                      </label>
                      <ng-select (change)="saveChange()" class="c-input" formControlName="LPNBarcodeFormat">
                        <ng-option value="SSCC">{{ 'SSCC' | translate }}</ng-option>
                        <ng-option value="UserDefined"> {{ 'User defined' | translate }} </ng-option>
                      </ng-select>
                    </div>
                    <div class="c-control">
                      <label class="c-label" for="LPNLength"
                        >{{ 'LPN length' | translate }}
                        <span
                          *ngIf="
                            !g.controls.LPNLength.valid &&
                            !g.controls.LPNLength.pending &&
                            (g.controls.LPNLength.dirty || submitAttempt)
                          "
                          ion-text
                          color="danger"
                          >(*)</span
                        >
                      </label>
                      <input
                        (change)="saveChange()"
                        class="c-input"
                        id="LPNLength"
                        formControlName="LPNLength"
                        mask="separator.9"
                        thousandSeparator=","
                        [allowNegativeNumbers]="false"
                        type="tel"
                      />
                    </div>
                    <div class="c-control">
                      <label class="c-label" for="LPNStartNumber"
                        >{{ 'LPN start number' | translate }}
                        <span
                          *ngIf="
                            !g.controls.LPNStartNumber.valid &&
                            !g.controls.LPNStartNumber.pending &&
                            (g.controls.LPNStartNumber.dirty || submitAttempt)
                          "
                          ion-text
                          color="danger"
                          >(*)</span
                        >
                      </label>
                      <input
                        (change)="saveChange()"
                        class="c-input"
                        id="LPNStartNumber"
                        formControlName="LPNStartNumber"
                        mask="separator.9"
                        thousandSeparator=","
                        [allowNegativeNumbers]="false"
                        type="tel"
                      />
                    </div>
                    <div class="c-control">
                      <label class="c-label" for="LPNNextNumber"
                        >{{ 'LPN next number' | translate }}
                        <span
                          *ngIf="
                            !g.controls.LPNNextNumber.valid &&
                            !g.controls.LPNNextNumber.pending &&
                            (g.controls.LPNNextNumber.dirty || submitAttempt)
                          "
                          ion-text
                          color="danger"
                          >(*)</span
                        >
                      </label>
                      <input
                        (change)="saveChange()"
                        class="c-input"
                        id="LPNNextNumber"
                        formControlName="LPNNextNumber"
                        mask="separator.9"
                        thousandSeparator=","
                        [allowNegativeNumbers]="false"
                        type="tel"
                      />
                    </div>
                    <div class="c-control">
                      <label class="c-label" for="LPNRollbackNumber"
                        >{{ 'LPN rollback number' | translate }}
                        <span
                          *ngIf="
                            !g.controls.LPNRollbackNumber.valid &&
                            !g.controls.LPNRollbackNumber.pending &&
                            (g.controls.LPNRollbackNumber.dirty || submitAttempt)
                          "
                          ion-text
                          color="danger"
                          >(*)</span
                        >
                      </label>
                      <input
                        (change)="saveChange()"
                        class="c-input"
                        id="LPNRollbackNumber"
                        formControlName="LPNRollbackNumber"
                        mask="separator.9"
                        thousandSeparator=","
                        [allowNegativeNumbers]="false"
                        type="tel"
                      />
                    </div>
                  </ion-col>
                  <ion-col size="12" size-sm="6" size-xl="4">
                    <div class="c-control">
                      <label class="c-label" for="CaseLabelType"
                        >Ca{{ 'Case label type' | translate }}
                        <span
                          *ngIf="
                            !g.controls.CaseLabelType.valid &&
                            !g.controls.CaseLabelType.pending &&
                            (g.controls.CaseLabelType.dirty || submitAttempt)
                          "
                          ion-text
                          color="danger"
                          >(*)</span
                        >
                      </label>
                      <ng-select (change)="saveChange()" class="c-input" formControlName="CaseLabelType">
                        <ng-option value="STD">{{ 'STD' | translate }}</ng-option>
                        <ng-option value="SGTIN">{{ 'SGTIN' | translate }}</ng-option>
                        <ng-option value="SSCC">{{ 'SSCC' | translate }}</ng-option>
                      </ng-select>
                    </div>
                    <div class="c-control">
                      <label class="c-label" for="ApplicationID"
                        >{{ 'Application ID' | translate }}
                        <span
                          *ngIf="
                            !g.controls.ApplicationID.valid &&
                            !g.controls.ApplicationID.pending &&
                            (g.controls.ApplicationID.dirty || submitAttempt)
                          "
                          ion-text
                          color="danger"
                          >(*)</span
                        >
                      </label>
                      <input
                        (change)="saveChange()"
                        class="c-input"
                        id="ApplicationID"
                        formControlName="ApplicationID"
                      />
                    </div>
                    <div class="c-control">
                      <label class="c-label" for="SSCCFirstDigit"
                        >{{ 'SSCC 1st digit' | translate }}
                        <span
                          *ngIf="
                            !g.controls.SSCCFirstDigit.valid &&
                            !g.controls.SSCCFirstDigit.pending &&
                            (g.controls.SSCCFirstDigit.dirty || submitAttempt)
                          "
                          ion-text
                          color="danger"
                          >(*)</span
                        >
                      </label>
                      <input
                        (change)="saveChange()"
                        class="c-input"
                        id="SSCCFirstDigit"
                        formControlName="SSCCFirstDigit"
                      />
                    </div>
                    <div class="c-control">
                      <label class="c-label" for="UCCVendor"
                        >{{ 'UCC vendor #' | translate }}
                        <span
                          *ngIf="
                            !g.controls.UCCVendor.valid &&
                            !g.controls.UCCVendor.pending &&
                            (g.controls.UCCVendor.dirty || submitAttempt)
                          "
                          ion-text
                          color="danger"
                          >(*)</span
                        >
                      </label>
                      <input (change)="saveChange()" class="c-input" id="UCCVendor" formControlName="UCCVendor" />
                    </div>
                  </ion-col>
                </ion-row>
              </form>
            </ion-grid>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
</ion-content>
