.full-screen{
    min-height: calc(100vh - 385px);
}

.table-contain{
    max-width: 1440px;
    margin: auto;

    section.table header{
        height: 45px;
    }
    .row{
        width: unset;
    }
    .col-id {
        max-width: 50px;
        min-width: 50px;
        font-weight: bold;
    }
    .col-name {
        min-width: 150px;
        b{
            color: var(--ion-color-primary);
        }
    }
    .col-uom{
        max-width: 90px;
        min-width: 90px;
        justify-content: center;
        .c-input{
            text-align: center;
        }
    }
    .col-price {
        min-width: 90px;
        max-width: 90px;
        text-align: right;
        justify-content: flex-end;
    }
    .col-qty {
        min-width: 75px;
        max-width: 75px;
        justify-content: flex-end;
        text-align:right;
        .c-input{
            text-align: right;
            font-weight: bold;
          
            color: var(--ion-color-primary);
        }
        ::ng-deep {
            app-input-control .c-input{
            text-align: right; 
          }
        }
    }
    .col-discount {
        max-width: 90px;
        min-width: 90px;
        text-align: right;
        justify-content: flex-end;
    }

    .col-promotion {
        max-width: 50px;
        min-width: 50px;
        justify-content: center;
    }

    .col-total {
        min-width: 110px;
        max-width: 110px;
        text-align: right;
        justify-content: flex-end;
        .c-input{
            text-align: right;
            font-weight: bold;
            color: var(--ion-color-primary);
        }
    }
    .col-del {
        max-width: 40px;
        min-width: 40px;
        justify-content: center;
        cursor: pointer;
    }
    .c-input{
        text-align: right;
    }

    .cell{
        padding: 2px 2px;

        .info-color{
            margin-left: 4px;
        }
    }

    
}

ion-icon {
    cursor: pointer;
  }
  
  @media only screen and (min-width: 768px) and (min-height: 768px){
    ion-modal{
        --width: 80%;
        --height: 600px;
    }
  }

@media screen and (max-width: 1164px)
{
    .table.responsive header{
        display:flex;
        
    }
    .table.responsive{
        .row > div{
            order:unset !important;
        }
        .row{
            margin: unset !important;
            flex-wrap: nowrap;
        }
       
    }
    .table-contain{
        .col-name{
            min-width: 250px;
            max-width: 250px;
        }
        .col-code{
            max-width: 50px !important; 
            min-width: 50px !important;
        }
        .col-id{
            max-width: 50px !important; 
            min-width: 50px !important;
        }
    } 
    .table.responsive.modalMerge{
        header{
            // display: flex;
            padding: 16px 16px 16px 0 !important;
        }
        .row{
            width: fit-content;
            padding-right: 16px !important;
        }
  
       .col-status{
            position:unset;
            max-width: 125px;
            min-width: 125px;
            justify-content: center;
        }
    }
     
}