<ion-header>
	<app-toolbar [page]="this">
		<ion-button title="Goods receipt" (click)="submitReceipt()" *ngIf="formGroup.get('Status').value == 'Palletized'">
			<ion-icon slot="icon-only" name="bag-check-outline"></ion-icon>
		</ion-button>

		<ion-button title="In nhãn" (click)="createLabel()" *ngIf="formGroup.get('Id').value">
			<ion-icon slot="icon-only" name="print"></ion-icon>
		</ion-button>

		<ion-button title="{{'Copy to A/P invoice' | translate}}" *ngIf="pageConfig.canCopyToAPInvoice && pageConfig.ShowCopyToAPInvoice" (click)="createInvoice()">
			<ion-icon slot="icon-only" name="receipt-outline"></ion-icon>
		</ion-button>

		<ion-button title="Delivering" *ngIf="pageConfig.ShowDelivery && pageConfig.canDelivery" (click)="deliveryReceipt()">
			<ion-icon slot="icon-only" name="shipping-fast"></ion-icon>
		</ion-button>

		<div *ngIf="pageConfig.canEdit">
			<ion-button (click)="palletize()" title="{{'Pallet Allocation' | translate}}" *ngIf="formGroup.controls.Status.value=='New'">
				<ion-icon slot="icon-only" name="file-tray-full-outline"></ion-icon>
			</ion-button>

			<ion-button (click)="unpalletize()" title="{{'Bỏ chia để chỉnh số liệu' | translate}}" *ngIf="formGroup.controls.Status.value=='Palletized'">
				<ion-icon slot="icon-only" name="file-tray-outline"></ion-icon>
			</ion-button>

			<ion-button (click)="importClick()" *ngIf="formGroup.controls.Status.value=='New'" title="{{'Import product' | translate}}">
				<ion-icon slot="icon-only" name="cloud-upload-outline"></ion-icon>
			</ion-button>

			<ion-button (click)="addOrderLine({ IDOrder: item.Id, Id: 0 })" *ngIf="formGroup.controls.Status.value=='New'" title="{{'Add product' | translate}}">
				<ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
			</ion-button>
			<span class="split ion-hide-sm-down">|</span>
		</div>
	</app-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding">
	<div id="order-detail-page" style="position: absolute"></div>
	<div class="main-view" *ngIf="item && pageConfig.showSpinner==false">
		<ion-grid fixed>
			<form [formGroup]="formGroup">
				<ion-row class="hr-group">
					<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
						<ion-list-header class="ion-no-padding">
							<ion-label color="primary">{{'ASN/Receipt' | translate}}</ion-label>
						</ion-list-header>
					</ion-col>
					<ion-col size="12" size-sm size-xl="4">
						<app-form-control
							[field]="{id:'IDBranch', label: 'Warehouse', type : 'ng-select-branch',dataSource:branchList,bindLabel:'Name',bindValue:'Id', form : formGroup
            ,branchConfig:{showingType:'Warehouse',selectedBranch:this.env.selectedBranch}
           }"
							(change)="saveOrder()"
						></app-form-control>

						<app-form-control
							[field]="{id:'IDVendor', label: 'Vendor', type : 'ng-select-bp',dataSource:_vendorDataSource,bindLabel:'Name',bindValue:'Id', form : formGroup,clearable:true}"
							(change)="saveOrder()"
						></app-form-control>
					</ion-col>
					<ion-col size="12" size-sm size-xl="4">
						<div class="c-control">
							<label class="c-label" for="IDStorer"
								>{{'Goods owner' | translate}}
								<span
									*ngIf="!formGroup.controls.IDStorer.valid && !formGroup.controls.IDStorer.pending && (formGroup.controls.IDStorer.dirty || submitAttempt)"
									ion-text
									color="danger"
									>(*)</span
								>
							</label>
							<ng-select
								class="c-input"
								(change)="saveOrder();"
								labelForId="IDStorer"
								formControlName="IDStorer"
								[items]="storerList"
								[virtualScroll]="true"
								bindLabel="Name"
								bindValue="Id"
								placeholder="{{'Search' | translate}}"
							>
								<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
									<div *ngIf="i">
										<div>
											<span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span>
											<span [ngOptionHighlight]="search">{{i.Name}}</span>
										</div>
									</div>
								</ng-template>
							</ng-select>
						</div>
						<div class="c-control">
							<label class="c-label">{{'Expected delivery date' | translate}}</label>
							<input (change)="saveOrder()" formControlName="ExpectedReceiptDate" class="c-input" type="datetime-local" />
						</div>
					</ion-col>
				</ion-row>
			</form>
		</ion-grid>

		<div class="row-full shadow full-screen">
			<ion-toolbar color="primary">
				<ion-segment scrollable="true" (ionChange)="segmentChanged($event)" [value]="segmentView">
					<ion-segment-button value="s1">
						<ion-label>{{'Product list' | translate}}</ion-label>
					</ion-segment-button>
					<ion-segment-button value="s2">
						<ion-label>{{'Receipt note information' | translate}}</ion-label>
					</ion-segment-button>
				</ion-segment>
			</ion-toolbar>
			<div *ngIf="segmentView == 's1'">
				<form [formGroup]="formGroup">
					<ng-container formArrayName="Lines">
						<div class="table-contain">
							<section class="table" style="min-width: 1270px">
								<header class="bold" style="padding-right: 0">
									<div class="col-id cell">#</div>
									<div class="col-name cell">{{'Product' | translate}}</div>
									<div class="col-uom cell">{{'Unit' | translate}}</div>
									<div class="col-qty cell">{{'Quantity' | translate}}</div>
									<div class="col-code cell">{{'LOT/Batch' | translate}}</div>
									<!-- <div class="col-code cell">Batch No</div>
                                    <div class="col-code cell">Lottable2</div>
                                    <div class="col-code cell">Lottable3</div>
                                    <div class="col-code cell">Lottable4</div> -->
									<div class="col-date cell">{{'Manufacture date' | translate}}</div>
									<div class="col-date cell">{{'Expiration date' | translate}}</div>
									<!-- <div class="col-date cell">Lottable7</div>
                                    <div class="col-date cell">Lottable8</div>
                                    <div class="col-date cell">Lottable9</div> -->
									<div class="col-total cell">{{'Volume (m³)' | translate}}</div>
									<div class="col-total cell">{{'Gross (ton)' | translate}}</div>
									<div class="col-total cell">{{'Net (ton)' | translate}}</div>

									<div class="col-del cell" *ngIf="pageConfig.canEdit"></div>
								</header>

								<ng-container *ngFor="let g of formGroup.get('Lines')['controls']; let idx = index;">
									<ng-container [formGroup]="g">
										<div class="row">
											<div class="col-id cell">{{idx+1}}</div>
											<div class="col-name item-name cell">
												<ng-select
													formControlName="_Item"
													appendTo="#order-detail-page"
													[readonly]="!pageConfig.canEdit || submitAttempt || item.Status=='Palletized'"
													class="c-input"
													(change)="changedIDItem(g, $event)"
													[labelForId]="'IDItem'+idx"
													[items]="g.controls._ItemDataSource.value | async"
													[typeahead]="g.controls._ItemSearchInput.value"
													[loading]="g.controls._ItemSearchLoading.value"
													[virtualScroll]="true"
													bindLabel="Name"
													placeholder="{{'Search for name or product code' | translate}}"
												>
													<ng-template ng-label-tmp let-i="item">
														<b *ngIf="i.Code" [title]="i.Id"> {{i.Code}} </b>
														{{i.Name}}
													</ng-template>
													<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
														<div *ngIf="i">
															<div>
																<span [ngOptionHighlight]="search">{{i.Name}}</span>
															</div>
															<small
																>#<b><span class="important" [ngOptionHighlight]="search">{{i.Id}} - {{i.Code}}</span></b></small
															>
														</div>
													</ng-template>
												</ng-select>
											</div>
											<div class="col-uom cell">
												<select
													formControlName="IDUoM"
													[attr.disabled]="(!pageConfig.canEdit || submitAttempt || item.Status=='Palletized')?'':null"
													class="c-input c-dropdown"
													(change)="saveOrder()"
												>
													<option [disabled]="t.Flag" *ngFor="let t of g.controls._UoMs.value" [value]="t.Id">{{t.Name}}</option>
												</select>
											</div>
											<div class="col-qty cell" [ngClass]="{disable: !pageConfig.canEdit}">
												<input
													formControlName="UoMQuantityExpected"
													[readonly]="!pageConfig.canEdit || submitAttempt || item.Status=='Palletized'"
													(focus)="$event.target.select()"
													(change)="saveOrder()"
													class="c-input"
													type="number"
													min="0"
													step="1"
													max="999999999999999999"
													onkeydown="return event.keyCode !== 190"
												/>
											</div>
											<div class="col-code cell">
												<input
													formControlName="Lottable0"
													[readonly]="!pageConfig.canEdit || submitAttempt || item.Status=='Palletized'"
													(focus)="$event.target.select()"
													(change)="saveOrder()"
													class="c-input"
													type="text"
												/>
											</div>
											<!-- <div class="col-code cell">
                                                <input formControlName="Lottable1" [readonly]="!pageConfig.canEdit || submitAttempt" (focus)="$event.target.select()" (change)="saveOrder()" class="c-input" type="text">
                                            </div>
                                            <div class="col-code cell">
                                                <input formControlName="Lottable2" [readonly]="!pageConfig.canEdit || submitAttempt" (focus)="$event.target.select()" (change)="saveOrder()" class="c-input" type="text">
                                            </div>
                                            <div class="col-code cell">
                                                <input formControlName="Lottable3" [readonly]="!pageConfig.canEdit || submitAttempt" (focus)="$event.target.select()" (change)="saveOrder()" class="c-input" type="text">
                                            </div>
                                            <div class="col-code cell">
                                                <input formControlName="Lottable4" [readonly]="!pageConfig.canEdit || submitAttempt" (focus)="$event.target.select()" (change)="saveOrder()" class="c-input" type="text">
                                            </div> -->
											<div class="col-date cell">
												<input
													formControlName="Lottable5"
													[readonly]="!pageConfig.canEdit || submitAttempt || item.Status=='Palletized'"
													(focus)="$event.target.select()"
													(change)="changeLottable5(g)"
													class="c-input"
													type="date"
												/>
											</div>
											<div class="col-date cell">
												<input
													formControlName="Lottable6"
													[readonly]="!pageConfig.canEdit || submitAttempt || item.Status=='Palletized'"
													(focus)="$event.target.select()"
													(change)="saveOrder()"
													class="c-input"
													type="date"
												/>
											</div>
											<!-- <div class="col-date cell">
                                                <input formControlName="Lottable7" [readonly]="!pageConfig.canEdit || submitAttempt" (focus)="$event.target.select()" (change)="saveOrder()" class="c-input" type="date">
                                            </div>
                                            <div class="col-date cell">
                                                <input formControlName="Lottable8" [readonly]="!pageConfig.canEdit || submitAttempt" (focus)="$event.target.select()" (change)="saveOrder()" class="c-input" type="date">
                                            </div>
                                            <div class="col-date cell">
                                                <input formControlName="Lottable8" [readonly]="!pageConfig.canEdit || submitAttempt" (focus)="$event.target.select()" (change)="saveOrder()" class="c-input" type="date">
                                            </div> -->
											<div class="col-total cell">
												<input
													formControlName="Cube"
													(focus)="$event.target.select()"
													(change)="saveOrder()"
													class="c-input"
													type="tel"
													mask="separator.3"
													thousandSeparator=","
													[allowNegativeNumbers]="true"
												/>
											</div>
											<div class="col-total cell">
												<input
													formControlName="GrossWeight"
													(focus)="$event.target.select()"
													(change)="saveOrder()"
													class="c-input"
													type="tel"
													mask="separator.3"
													thousandSeparator=","
													[allowNegativeNumbers]="true"
												/>
											</div>
											<div class="col-total cell">
												<input
													formControlName="NetWeight"
													(focus)="$event.target.select()"
													(change)="saveOrder()"
													class="c-input"
													type="tel"
													mask="separator.3"
													thousandSeparator=","
													[allowNegativeNumbers]="true"
												/>
											</div>
											<div class="col-del cell" *ngIf="pageConfig.canEdit">
												<ion-icon
													color="danger"
													class="min-btn"
													name="trash-outline"
													*ngIf="item.Status!='Palletized'"
													(click)="removeOrderLine(idx)"
												></ion-icon>
											</div>
										</div>
										<div class="row sub-header" *ngIf="0 && g.get('Pallets').length">
											<div class="col-id cell"></div>
											<div class="col-name cell" (click)="g.controls._IsShowPallets.setValue(!g.controls._IsShowPallets.value)">
												<span>
													<ion-icon [name]="g.controls._IsShowPallets.value? 'chevron-down-outline':'chevron-forward-outline'"></ion-icon>
													{{'Chia thành' | translate}}
													<b> {{g.get('Pallets').length}} pallet</b>
												</span>
											</div>
											<ng-container *ngIf="g.controls._IsShowPallets.value">
												<div class="col-uom cell"></div>
												<div class="col-qty cell"></div>
												<div class="col-code cell">
													<b>{{'Vị trí cất hàng' | translate}}</b>
												</div>
												<!-- <div class="col-code cell">Lottable1</div>
                                                <div class="col-code cell">Lottable2</div>
                                                <div class="col-code cell">Lottable3</div>
                                                <div class="col-code cell">Lottable4</div> -->
												<div class="col-date cell"></div>
												<div class="col-date cell"></div>
												<!-- <div class="col-date cell">Lottable7</div>
                                                <div class="col-date cell">Lottable8</div>
                                                <div class="col-date cell">Lottable9</div> -->
												<div class="col-total cell"></div>
												<div class="col-total cell"></div>
												<div class="col-total cell"></div>

												<div class="col-del cell" *ngIf="pageConfig.canEdit"></div>
											</ng-container>
										</div>
										<ng-container *ngIf="g.controls._IsShowPallets.value">
											<div class="row sub-row" *ngFor="let p of g.get('Pallets')['controls']; let jdx = index;">
												<ng-container [formGroup]="p">
													<div class="col-id cell"><span class="spacing"></span><span class="spacing"></span> {{idx+1}}.{{jdx+1}}</div>
													<div class="col-name cell" style="justify-content: flex-end">
														{{'LPN' | translate}}: {{p.controls._LPN.value.Id}} LOT: {{p.controls.ToLot.value}}
													</div>
													<div class="col-uom cell">
														<select formControlName="IDUoM" class="c-input c-dropdown">
															<option [disabled]="t.Flag" *ngFor="let t of g.controls._UoMs.value" [value]="t.Id">{{t.Name}}</option>
														</select>
													</div>
													<div class="col-qty cell" [ngClass]="{disable: !pageConfig.canEdit}">
														<input formControlName="UoMQuantityExpected" class="c-input" type="number" min="0" step="1" max="999999999999999999" />
													</div>
													<div class="col-code cell">{{p.controls.Remark.value}}</div>
													<!-- <div class="col-code cell"></div>
                                                    <div class="col-code cell">Lottable2</div>
                                                    <div class="col-code cell">Lottable3</div>
                                                    <div class="col-code cell">Lottable4</div>  -->
													<div class="col-date cell">
														<ion-icon
															class="min-btn"
															[color]="p.controls.IsFullPallet.value==true?'success':'warning'"
															[name]="p.controls.IsFullPallet.value==true ? 'battery-full-sharp':'battery-half-sharp'"
														></ion-icon>
														<ion-text color="primary" *ngIf="p.controls.IsFullPallet.value==false">
															<b>{{'LCL goods' | translate}}</b>
														</ion-text>
														<ion-icon class="min-btn" name="arrow-forward-outline"></ion-icon>
													</div>
													<div class="col-date cell">
														<ng-select
															formControlName="_Location"
															appendTo="#order-detail-page"
															[readonly]="!pageConfig.canEdit || submitAttempt"
															class="c-input"
															(change)="changedToLocation(p, $event)"
															[labelForId]="'IDItem'+idx+'.'+jdx"
															[items]=" p.controls._ItemDataSource.value | async"
															[typeahead]="p.controls._ItemSearchInput.value"
															[loading]="p.controls._ItemSearchLoading.value"
															[clearable]="false"
															[virtualScroll]="true"
															bindLabel="Name"
															placeholder="{{'Search for name or product code' | translate}}"
														>
															<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
																<div *ngIf="i">
																	<span [ngOptionHighlight]="search">{{i.Name}}</span>
																</div>
															</ng-template>
														</ng-select>
													</div>
													<!-- <div class="col-date cell">Lottable7</div>
                                                    <div class="col-date cell">Lottable8</div>
                                                    <div class="col-date cell">Lottable9</div> -->
													<div class="col-total cell">
														<span class="c-input disabled">{{ (p.controls['Cube'].value /(1000000.0)) | mask: 'separator.3':',' }}</span>
														<!-- <input formControlName="Cube" (focus)="$event.target.select()" (change)="saveOrder()" class="c-input" type="tel" mask="separator.3" [dropSpecialCharacters]="false" thousandSeparator="," [allowNegativeNumbers]="true"> -->
													</div>
													<div class="col-total cell">
														<span class="c-input disabled">{{p.controls['GrossWeight'].value /1000 | mask: 'separator.3':',' }}</span>
													</div>
													<div class="col-total cell">
														<span class="c-input disabled">{{p.controls['NetWeight'].value /1000 | mask: 'separator.3':',' }}</span>
														<!-- <input formControlName="NetWeight" (focus)="$event.target.select()" (change)="saveOrder()" class="c-input" type="tel" mask="separator.3" thousandSeparator="," [allowNegativeNumbers]="true"> -->
													</div>
													<div class="col-del cell" *ngIf="pageConfig.canEdit"></div>
												</ng-container>
											</div>
										</ng-container>
									</ng-container>
								</ng-container>
								<div class="row" *ngIf="pageConfig.canEdit && item?.Lines?.length > 1">
									<div class="col-id cell"></div>
									<div class="col-name cell"></div>
									<div class="col-uom cell">
										<b>{{'Tổng cộng' | translate}}:</b>
									</div>
									<div class="col-qty cell disable"></div>
									<div class="col-code cell disable"></div>
									<!-- <div class="col-code cell disable"></div>
                                    <div class="col-code cell disable"></div>
                                    <div class="col-code cell disable"></div>
                                    <div class="col-code cell disable"></div> -->
									<div class="col-date cell disable"></div>
									<div class="col-date cell disable"></div>
									<!-- <div class="col-date cell disable"></div>
                                    <div class="col-date cell disable"></div>
                                    <div class="col-date cell disable"></div> -->
									<div class="col-total cell disable">
										<input
											[ngModel]="item.Cube"
											[ngModelOptions]="{standalone: true}"
											class="c-input"
											[disabled]="true"
											mask="separator.3"
											thousandSeparator=","
											[allowNegativeNumbers]="true"
										/>
									</div>
									<div class="col-total cell disable">
										<input
											[ngModel]="item.GrossWeight"
											[ngModelOptions]="{standalone: true}"
											class="c-input"
											[disabled]="true"
											mask="separator.3"
											thousandSeparator=","
											[allowNegativeNumbers]="true"
										/>
									</div>
									<div class="col-total cell disable">
										<input
											[ngModel]="item.NetWeight"
											[ngModelOptions]="{standalone: true}"
											class="c-input"
											[disabled]="true"
											mask="separator.3"
											thousandSeparator=","
											[allowNegativeNumbers]="true"
										/>
									</div>
									<div class="col-del cell" *ngIf="pageConfig.canEdit"></div>
								</div>
							</section>
						</div>
					</ng-container>
				</form>
				<div class="table-contain">
					<div class="row" *ngIf="pageConfig.canEdit">
						<div class="cell">
							<ion-button fill="clear" size="small" (click)="addOrderLine({ IDOrder: item.Id, Id: 0 })" *ngIf="formGroup.controls.Status.value=='New'">
								<ion-icon slot="start" name="add-circle"></ion-icon>
								{{'Add product' | translate}}
							</ion-button>

							<ion-button fill="clear" size="small" (click)="importClick()" *ngIf="formGroup.controls.Status.value=='New'">
								<ion-icon slot="start" name="cloud-upload"></ion-icon>
								{{'Import product' | translate}}
							</ion-button>

							<ion-button fill="clear" size="small" (click)="palletize()" *ngIf="formGroup.controls.Status.value=='New'">
								<ion-icon slot="start" name="file-tray-full"></ion-icon>
								{{'Pallet Allocation' | translate}}
							</ion-button>

							<ion-button fill="clear" size="small" (click)="unpalletize()" *ngIf="formGroup.controls.Status.value=='Palletized'">
								<ion-icon slot="start" name="file-tray"></ion-icon>
								{{'Bỏ chia để chỉnh số liệu' | translate}}
							</ion-button>

							<ion-button fill="clear" size="small" title="Goods receipt" (click)="submitReceipt()" *ngIf="formGroup.get('Status').value == 'Palletized'">
								<ion-icon slot="icon-only" name="bag-check-outline"></ion-icon>
								{{'Goods receipt' | translate}}
							</ion-button>
						</div>
					</div>
				</div>
			</div>
			<div *ngIf="segmentView == 's2'">
				<div class="ion-padding">
					<ion-grid fixed>
						<form [formGroup]="formGroup">
							<ion-row class="hr-group">
								<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
									<ion-list-header class="ion-no-padding">
										<ion-label color="primary">{{'ASN/Receipt' | translate}}</ion-label>
									</ion-list-header>
								</ion-col>
								<ion-col size="12" size-sm size-xl="4">
									<div class="c-control">
										<label class="c-label" for="Id"># {{'Id' | translate}}</label>
										<input class="c-input" id="Id" formControlName="Id" type="number" />
									</div>

									<div class="c-control">
										<label class="c-label" for="IDBranch"
											>{{'Warehouse' | translate}}<small *ngIf="item.Id">({{'Id' | translate}}: {{item.Id}})</small>
											<span
												*ngIf="!formGroup.controls.IDBranch.valid && !formGroup.controls.IDBranch.pending && (formGroup.controls.IDBranch.dirty || submitAttempt)"
												ion-text
												color="danger"
												>(*)</span
											>
										</label>
										<ng-select
											class="c-input"
											(change)="saveOrder();"
											labelForId="IDBranch"
											formControlName="IDBranch"
											[items]="branchList"
											[virtualScroll]="true"
											bindLabel="Name"
											bindValue="Id"
											placeholder="{{'Search' | translate}}"
										>
											<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
												<div *ngIf="i">
													<div>
														<span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span>
														<span [ngOptionHighlight]="search">{{i.Name}}</span>
													</div>
												</div>
											</ng-template>
										</ng-select>
									</div>

									<app-form-control
										[field]="{id:'IDVendor', label: 'Vendor', type : 'ng-select-bp',dataSource:_vendorDataSource,bindLabel:'Name',bindValue:'Id', form : formGroup,clearable:true}"
										(change)="saveOrder()"
									></app-form-control>

									<div class="c-control">
										<label class="c-label" for="IDStorer"
											>{{'Goods owner' | translate}}
											<span
												*ngIf="!formGroup.controls.IDStorer.valid && !formGroup.controls.IDStorer.pending && (formGroup.controls.IDStorer.dirty || submitAttempt)"
												ion-text
												color="danger"
												>(*)</span
											>
										</label>
										<ng-select
											class="c-input"
											(change)="saveOrder();"
											labelForId="IDStorer"
											formControlName="IDStorer"
											[items]="storerList"
											[virtualScroll]="true"
											bindLabel="Name"
											bindValue="Id"
											placeholder="{{'Search' | translate}}"
										>
											<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
												<div *ngIf="i">
													<div>
														<span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span>
														<span [ngOptionHighlight]="search">{{i.Name}}</span>
													</div>
												</div>
											</ng-template>
										</ng-select>
									</div>
								</ion-col>
								<ion-col size="12" size-sm size-xl="4">
									<div class="c-control">
										<label class="c-label" for="Type"
											>{{'Classification' | translate}}
											<span
												*ngIf="!formGroup.controls.Type.valid && !formGroup.controls.Type.pending && (formGroup.controls.Type.dirty || submitAttempt)"
												ion-text
												color="danger"
												>(*)</span
											>
										</label>
										<ng-select
											class="c-input"
											(change)="saveOrder();"
											labelForId="Type"
											formControlName="Type"
											[items]="typeList"
											[virtualScroll]="true"
											bindLabel="Name"
											bindValue="Code"
											placeholder="{{'Search' | translate}}"
										>
											<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
												<div *ngIf="i">
													<div>
														<span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span>
														<span [ngOptionHighlight]="search">{{i.Name}}</span>
													</div>
												</div>
											</ng-template>
										</ng-select>
									</div>
									<div class="c-control">
										<label class="c-label" for="Status"
											>{{'Order Status' | translate}}
											<span
												*ngIf="!formGroup.controls.Status.valid && !formGroup.controls.Status.pending && (formGroup.controls.Status.dirty || submitAttempt)"
												ion-text
												color="danger"
												>(*)</span
											>
										</label>
										<ng-select
											class="c-input"
											(change)="saveOrder();"
											labelForId="Status"
											formControlName="Status"
											[items]="statusList"
											[virtualScroll]="true"
											bindLabel="Name"
											bindValue="Code"
											placeholder="{{'Search' | translate}}"
										>
											<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
												<div *ngIf="i">
													<div>
														<span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span>
														<span [ngOptionHighlight]="search">{{i.Name}}</span>
													</div>
												</div>
											</ng-template>
										</ng-select>
									</div>
									<div class="c-control">
										<label class="c-label" for="Remark"
											>{{'Description' | translate}}
											<span
												*ngIf="!formGroup.controls.Remark.valid && !formGroup.controls.Remark.pending && (formGroup.controls.Remark.dirty || submitAttempt)"
												ion-text
												color="danger"
												>(*)</span
											>
										</label>
										<textarea
											[readonly]="!(pageConfig.canEdit || pageConfig.canAdd)"
											(change)="saveChange()"
											rows="3"
											class="c-input"
											id="Remark"
											formControlName="Remark"
											type="textarea"
										></textarea>
									</div>
									<!-- <div class="c-control">
                                        <label class="c-label">Ngày đóng phiếu</label>
                                        <input (change)="saveOrder()" formControlName="ClosedDate" class="c-input" type="datetime-local">
                                    </div> -->
								</ion-col>
							</ion-row>

							<ion-row class="hr-group">
								<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
									<ion-list-header class="ion-no-padding">
										<ion-label color="primary">{{'Delivery' | translate}}</ion-label>
									</ion-list-header>
								</ion-col>
								<ion-col size="12" size-sm size-xl="4">
									<div class="c-control">
										<label class="c-label" for="IDCarrier"
											>{{'Carrier' | translate}}
											<span
												*ngIf="!formGroup.controls.IDCarrier.valid && !formGroup.controls.IDCarrier.pending && (formGroup.controls.IDCarrier.dirty || submitAttempt)"
												ion-text
												color="danger"
												>(*)</span
											>
										</label>
										<ng-select
											class="c-input"
											(change)="saveOrder();"
											labelForId="IDCarrier"
											formControlName="IDCarrier"
											[items]="carrierList"
											[virtualScroll]="true"
											bindLabel="Name"
											bindValue="Id"
											placeholder="{{'Search' | translate}}"
										>
											<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
												<div *ngIf="i">
													<div>
														<span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span>
														<span [ngOptionHighlight]="search">{{i.Name}}</span>
													</div>
												</div>
											</ng-template>
										</ng-select>
									</div>
									<div class="c-control">
										<label class="c-label">{{'License plate' | translate}}</label>
										<input (change)="saveOrder()" formControlName="VehicleNumber" class="c-input" type="text" />
									</div>
									<div class="c-control">
										<label class="c-label">{{'PO code' | translate}}</label>
										<input (change)="saveOrder()" formControlName="POCode" class="c-input" type="text" />
									</div>
								</ion-col>
								<ion-col size="12" size-sm size-xl="4">
									<div class="c-control">
										<label class="c-label">{{'Expected delivery date' | translate}}</label>
										<input (change)="saveOrder()" formControlName="ExpectedReceiptDate" class="c-input" type="datetime-local" />
										<!-- style=" width: calc(100% - 110px); " -->
										<!-- <input (change)="saveOrder()" formControlName="DeliveryTimePart" class="c-input" type="time" style=" width: 100px; margin-left: 10px; "> -->
									</div>

									<div class="c-control">
										<label class="c-label">{{'Actual delivery date' | translate}}</label>
										<input (change)="saveOrder()" formControlName="ArrivalDate" class="c-input" type="datetime-local" />
									</div>

									<div class="c-control">
										<label class="c-label">{{'Adequate Goods receipt date' | translate}}</label>
										<input (change)="saveOrder()" formControlName="ReceiptedDate" class="c-input" type="datetime-local" />
									</div>
								</ion-col>
							</ion-row>
						</form>
					</ion-grid>
				</div>
			</div>
		</div>
	</div>
	<app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
	<input class="hide-all" #importfile type="file" accept=".xlsx" (change)="uploadOrderLine($event)" />
</ion-content>
