.A4 .sheet {
  width: 210mm;
  height: auto;
  // min-height: auto;//295mm;
  padding: 0 10mm;
}

.A5.landscape .sheet {
  width: 210mm;
  height: auto;
  min-height: 147mm;
  padding: 0 10mm;
}

.sheet {
  &.huong-dan {
    padding: 10mm !important;
    height: auto !important;
    min-height: auto !important;
    color: #af305a;

    a {
      color: #af305a;
    }
  }
}

.giao-nhan {
  .page-header,
  .page-header-space {
    height: 38px;
  }

  .page-footer,
  .page-footer-space {
    height: 38px;
  }

  .logo {
    vertical-align: middle;
    width: 110px;
    max-width: 110px;
    padding: 0;
  }

  .logo img {
    width: auto;
    height: auto;
  }

  .topQR {
    vertical-align: top;
    padding: 0;
    width: 100px;
    min-width: 100px;
    max-width: 100px;
  }

  .topQR div {
    position: absolute;
    width: 100px;
    text-align: center;
    margin-top: 80px;
    font-size: 10px;
    padding-left: 10px;
  }

  .topQR img {
    width: 90px;
    height: 90px;
    border: solid 1px #ccc;
    display: block;
    float: right;
  }

  .rpt-header .title {
    font-size: 16px;
  }

  .ds-san-pham .ten-sp {
    width: 470px;
  }

  .sheet.rpt .ds-san-pham td {
    // padding: 2px 5px;
    // border: solid 1px #000;
    white-space: inherit !important;
  }

  .ds-san-pham .ten-sp.ck {
    width: auto;
    min-width: 100px;
    max-width: 450px;
  }

  .ds-san-pham.km .ten-sp {
    width: 530px;
  }

  .ds-san-pham .head {
    border-bottom: dashed 1px #000;
  }

  .ds-san-pham tbody {
    border: solid 1px #000;
  }

  .ds-san-pham tbody td {
    padding: 0px 5px;
    border: none;
    //border: dashed 1px;
    // border-right: dashed 1px;
  }

  .top-zone {
    // min-height: 448px;
  }

  .chu-ky {
    margin-top: 2px;

    .line2 {
      height: 45px;
    }
  }

  .noti {
    margin-top: 0px;
  }
}

.col-status {
  min-width: fit-content;
  max-width: fit-content;
  // position: absolute;
  // right: 0px;
  justify-content: right;

  small {
    padding-bottom: 0;
  }

  ion-badge {
    border-radius: 3px;
    font-weight: normal;
  }
}

.cell {
  padding-right: 8px !important;
}

.head-c2 {
  width: 50px !important;
  vertical-align: top;
}

.cell-width {
  width: 100px;
}

.cell-min-width {
  min-width: 150px;
  width: 150px;
}

.info-size {
  font-size: 20px;
}

.date-height {
  height: 30px;
}

.number-height {
  height: 20px;
}

.name-height {
  height: 20px;
}

.barcode-height {
  height: 30px;
}

.half-width {
  width: 50%;
}

.cell-flex {
  display: flex;
  flex-direction: column;
}

.detail-big {
  font-size: 30px;
  // font-family: monospace;
  font-weight: bold;
}

.top-dashed {
  border-top: 1px dashed !important;
}
.bottom-dashed {
  border-bottom: 1px dashed !important;
}
.left-dashed {
  border-left: 1px dashed !important;
}
.right-dashed {
  border-right: 1px dashed !important;
}
.border-none {
  border: none !important;
}
.top-solid {
  border-top: 1px solid !important;
}

.A5.landscape .sheet {
  width: 210mm !important;
  // height: auto;
  height: 147mm !important;
  padding: 0 10mm;
}
