<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-hide-sm-down_">
      <ion-button color="dark" class="ion-hide-sm-down"> {{'LPN Label Printing' | translate}} </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <!-- <ion-button (click)="changePrintMode()" title="{{'print-mode' | translate}}">
				<ion-icon slot="icon-only" [name]="printMode == 'A4' ? 'cut-outline':'file-tray-full-outline'"></ion-icon>
			</ion-button>
			<span class="split ion-hide-sm-down">|</span> -->
      <ion-button (click)="print()" title="{{'Form printing' | translate}}">
        <ion-icon slot="icon-only" name="print"></ion-icon>
      </ion-button>
      <ion-button (click)="refresh()" title="{{'Refresh' | translate}}">
        <ion-icon slot="icon-only" name="reload-outline"></ion-icon>
      </ion-button>
      <ion-button
        title="{{'Expanded function' | translate}}"
        (click)="pageConfig.isShowFeature = !pageConfig.isShowFeature;"
      >
        <ion-icon slot="icon-only" [name]="pageConfig.isShowFeature? 'close-outline':'list-circle-outline'"> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content
  appScrollbarTheme
  appPrintFix
  class="A5 landscape left"
  [ngClass]="{withFeature: pageConfig.isShowFeature}"
>
  <ion-fab
    *ngIf="pageConfig.isShowFeature"
    style="height: calc(100% - 93px)"
    [ngClass]="{withSearch: pageConfig.isShowSearch}"
    class="feature no-print"
    vertical="top"
    horizontal="start"
    slot="fixed"
  >
    <div id="asn-label-page" style="position: absolute"></div>
    <ion-list>
      <ion-list-header lines="full">
        <ion-label color="dark"> {{'LPN Label' | translate}} </ion-label>

        <!-- <ion-button size="small" (click)="toggleDateFilter()">
					<ion-icon slot="icon-only" [name]="query.IDStatus == '[104, 105, 109, 113, 114]' ? 'calendar-outline' : 'calendar'"></ion-icon>
				</ion-button> -->
      </ion-list-header>
    </ion-list>

    <ion-list>
      <div class="ion-padding" style="padding-bottom: 0">
        <div class="c-control">
          <label class="c-label" for="OrderDate">
            <ion-text color="primary"> {{'ASN' | translate}} </ion-text>
          </label>
          <ng-select
            appendTo="#asn-label-page"
            style="text-align: left"
            class="c-input no-check-dirty"
            (change)="changedIDASN($event)"
            #IdASN
            labelForId="Id"
            [(ngModel)]="asnSelected"
            [items]="asnList$ | async"
            [clearable]="true"
            [typeahead]="asnListInput$"
            [loading]="asnListLoading"
            [virtualScroll]="true"
            bindLabel="Id"
            bindValue="Id"
            placeholder="{{'Find ASN' | translate}}"
          >
            <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
              <div *ngIf="i">
                <div>
                  <span [ngOptionHighlight]="search">{{i.Id}} - {{i.Name}} - {{i.Type}} {{i.IDPurchaseOrder}}</span>
                </div>
              </div>
            </ng-template>
          </ng-select>
        </div>

        <div class="c-control">
          <label class="c-label" for="OrderDate">
            <ion-text color="primary"> {{'Item' | translate}} </ion-text>
          </label>
          <ng-select
            appendTo="#asn-label-page"
            style="text-align: left"
            class="c-input no-check-dirty"
            (change)="changedIDItem($event)"
            #IdItem
            labelForId="Id"
            [(ngModel)]="itemSelected"
            [items]="receiptLines"
            [clearable]="true"
            [virtualScroll]="true"
            bindLabel="_Item.Name"
            bindValue="_Item"
            placeholder="{{'Find Item' | translate}}"
          >
            <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
              <div *ngIf="i">
                <div title="{{i._Item.Name}}">
                  <span [ngOptionHighlight]="search">{{i._Item.Name}}</span>
                </div>
              </div>
            </ng-template>
          </ng-select>
        </div>

        <div class="c-control">
          <label class="c-label" for="OrderDate">
            <ion-text color="primary"> {{'From LPN' | translate}} </ion-text>
          </label>
          <ng-select
            appendTo="#asn-label-page"
            style="text-align: left"
            class="c-input no-check-dirty"
            (change)="changedFromLPN($event)"
            labelForId="Id"
            [(ngModel)]="fromIdLPN"
            [items]="itemPalletsList"
            [clearable]="true"
            [virtualScroll]="true"
            bindLabel="_LPN.Id"
            bindValue="_LPN.Id"
            placeholder="{{'Find LPN' | translate}}"
          >
            <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
              <div *ngIf="i">
                <div title="{{i._LPN.Id}} - {{i._Location.Name}}">
                  <span [ngOptionHighlight]="search">{{i._LPN.Id}} - {{i._Location.Name}}</span>
                </div>
              </div>
            </ng-template>
          </ng-select>
        </div>

        <div class="c-control">
          <label class="c-label" for="OrderDate">
            <ion-text color="primary"> {{'To LPN' | translate}} </ion-text>
          </label>
          <ng-select
            appendTo="#asn-label-page"
            style="text-align: left"
            class="c-input no-check-dirty"
            (change)="changedToLPN($event)"
            labelForId="Id"
            [(ngModel)]="toIdLPN"
            [items]="itemPalletsList"
            [clearable]="true"
            [virtualScroll]="true"
            bindLabel="_LPN.Id"
            bindValue="_LPN.Id"
            placeholder="{{'Find LPN' | translate}}"
          >
            <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
              <div *ngIf="i">
                <div title="{{i._LPN.Id}} - {{i._Location.Name}}">
                  <span [ngOptionHighlight]="search">{{i._LPN.Id}} - {{i._Location.Name}}</span>
                </div>
              </div>
            </ng-template>
          </ng-select>
        </div>

        <!-- <ion-list>
				<ion-item lines="full" *ngFor="let i of itemPalletsList">
					<ion-checkbox slot="start" [(ngModel)]="i.isChecked"></ion-checkbox>
	
					<ion-label class="ion-text-wrap">
						<ion-text>
							<h3>{{i._LPN.Id}} - {{i._Location.Name}}</h3>
						</ion-text>
					</ion-label>
	
					
				</ion-item>
			</ion-list> -->
      </div>
    </ion-list>

    <!-- <img style="width: 1px; height: 1px; opacity: 0;" src="assets/RPT-Logo-ART.png"> -->
  </ion-fab>

  <ion-fab
    style="height: 93px; top: auto; box-shadow: 0 0px 3px 2px #efefef"
    *ngIf="pageConfig.isShowFeature"
    class="feature no-print"
    vertical="bottom"
    horizontal="start"
    slot="fixed"
  >
    <div class="ion-padding">
      <ion-button (click)="createLPN()" expand="block" shape="round" [disabled]="submitAttempt">
        {{'Create LPN' | translate}}
      </ion-button>
    </div>
  </ion-fab>

  <div style="overflow: auto">
    <div class="giao-nhan" *ngFor="let o of sheets">
      <section class="sheet padding-10mm rpt p1">
        <table>
          <thead>
            <tr>
              <td>
                <div class="page-header-space"></div>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="top-zone">
                  <!-- <div class="ribbon" *ngIf="o.Status != 'Approved'">
										<span class="text">
											{{o.StatusText}}
										</span>
									</div> -->
                  <table class="rpt-header" cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <!-- <td rowspan="10" class="logo">
													<img [src]="o.BranchLogoURL" (error)="$event.src='assets/RPT-Logo-ART.png'">
												</td> -->
                        <td colspan="4" class="bol title">{{'LPN Label' | translate}}</td>

                        <!-- <td class="bol num" colspan="2">{{o.Code? o.Code : '#'+o.Id}}</td> -->
                        <td rowspan="6" class="topQR">
                          <div>PO:{{o.IDPurchaseOrder}}</div>
                          <a
                            [href]="'#/'+'purchase-order/'+o.IDPurchaseOrder"
                            (click)="nav('purchase-order/'+o.IDPurchaseOrder,'forward')"
                          >
                            <img class="qrc" [src]="o.QRC" />
                          </a>
                        </td>
                      </tr>

                      <!-- FROM  (VENDOR)-->
                      <tr>
                        <!-- <td class="head-c1 head-c2 bol" rowspan="4">{{'FROM' | translate}}</td> -->
                        <td class="head-c1">{{'Company' | translate}}:</td>
                        <td class="bol" colspan="2">{{o.VendorName}}</td>
                      </tr>
                      <tr style="vertical-align: top">
                        <td>{{'Address' | translate}}:</td>
                        <td rowspan="2" colspan="2">
                          <span class="bol">{{o.VendorAddress}} </span>
                        </td>
                      </tr>

                      <tr>
                        <td>&#8205;</td>
                      </tr>

                      <tr>
                        <td>{{'Phone' | translate}}:</td>
                        <td class="bol" colspan="2">{{o.VendorWorkPhone}}</td>
                      </tr>

                      <tr>
                        <td colspan="4">&#8205;</td>
                      </tr>

                      <!-- TO (WAREHOUSE _ BRANCH)-->
                      <tr>
                        <!-- <td class="head-c1 head-c2 bol" rowspan="4">{{'TO' | translate}}</td>s -->
                        <td class="head-c1">{{'Company' | translate}}:</td>
                        <td class="bol" colspan="3">{{o.BranchName}}</td>
                        <td class="bol num">{{'#'+o.ASNId}}</td>
                      </tr>
                      <tr style="vertical-align: top">
                        <td>{{'Address' | translate}}:</td>
                        <td rowspan="2" colspan="3">
                          <span class="bol">{{o.BranchAddress}} </span>
                        </td>
                        <td class="bol num">{{o.ArrivalDateText}}</td>
                      </tr>

                      <tr>
                        <td>&#8205;</td>
                      </tr>

                      <tr>
                        <td>{{'Phone' | translate}}:</td>
                        <td class="bol" colspan="3">{{o.BranchWorkPhone}}</td>
                      </tr>
                    </tbody>
                  </table>

                  <!-- NEW -->
                  <div class="ds-san-pham">
                    <table cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td class="cell-width name-height">{{'Item Name' | translate}}:</td>
                          <td colspan="3" class="bol info-size">{{o.ItemName}}</td>
                        </tr>

                        <tr class="top-dashed">
                          <td colspan="3">
                            <table>
                              <tr>
                                <td class="half-width">{{'Quantity' | translate}}</td>
                                <td class="half-width left-dashed">{{'Unit' | translate}}</td>
                              </tr>
                              <tr>
                                <td class="half-width number-height cen detail-big">{{o.ItemQuantity}}</td>
                                <td class="half-width number-height cen detail-big left-dashed">{{o.ItemUnit}}</td>
                              </tr>
                            </table>
                          </td>

                          <td class="cell-min-width cen left-dashed">
                            <table>
                              <tr>
                                <td class="half-width">{{'Malnufacture Date' | translate}}</td>
                              </tr>
                              <tr>
                                <td class="half-width date-height info-size cen bol">{{o.MalnufactureDate}}</td>
                              </tr>
                            </table>
                          </td>
                        </tr>

                        <tr>
                          <td colspan="3">
                            <table>
                              <tr>
                                <td class="half-width">&#8205;</td>
                                <td class="half-width left-dashed">&#8205;</td>
                              </tr>
                            </table>
                          </td>
                          <td class="cell-min-width cen left-dashed top-dashed">{{'Expired Date' | translate}}</td>
                        </tr>

                        <tr>
                          <td class="cell-width top-dashed">{{'Volume (m³)' | translate}}</td>
                          <td class="cell-width top-dashed left-dashed">{{'Gross (Ton)' | translate}}</td>
                          <td class="cell-width top-dashed left-dashed">{{'Net (Ton)' | translate}}</td>
                          <td rowspan="2" class="cell-min-width date-height info-size cen bol left-dashed">
                            {{o.ExpiredDate}}
                          </td>
                        </tr>

                        <tr>
                          <td class="cell-width number-height num info-size bol">{{o.Cube}}</td>
                          <td class="cell-width number-height num info-size bol left-dashed">{{o.GrossWeight}}</td>
                          <td class="cell-width number-height num info-size bol left-dashed">{{o.NetWeight}}</td>
                        </tr>

                        <tr>
                          <td class="top-solid">{{'Item Code' | translate}}:</td>
                          <td colspan="3" class="top-solid">
                            <table>
                              <tr>
                                <!-- <td class="cen barcode-height">BARCODE</td> -->
                                <td class="cen bol info-size barcode-height">{{o.ItemCode}}</td>
                              </tr>
                              <!-- <tr>
																<td class="cen">{{o.ItemCode}}</td>
															</tr> -->
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td class="top-solid">{{'Location' | translate}}:</td>
                          <td colspan="3" class="top-solid">
                            <table>
                              <tr>
                                <!-- <td class="cen barcode-height">BARCODE</td> -->
                                <td class="cen bol info-size barcode-height">{{o.LocationName}}</td>
                              </tr>
                              <!-- <tr>
																<td class="cen">{{o.LocationName}}</td>
															</tr> -->
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td class="top-solid">{{'LPN' | translate}}:</td>
                          <td colspan="3" class="top-solid">
                            <table>
                              <tr>
                                <!-- <td class="cen barcode-height">BARCODE</td> -->
                                <td class="cen bol info-size barcode-height">{{o.LPNID}}</td>
                              </tr>
                              <!-- <tr>
																<td class="cen">{{o.LPNID}}</td>
															</tr> -->
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td class="top-solid">{{'Batch' | translate}}:</td>
                          <td colspan="3" class="top-solid">
                            <table>
                              <tr>
                                <!-- <td class="cen barcode-height">BARCODE</td> -->
                                <td class="cen bol info-size barcode-height">{{o.LOT}}</td>
                              </tr>
                              <!-- <tr>
																<td class="cen">{{o.LOT}}</td>
															</tr> -->
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>

          <tfoot>
            <tr>
              <td>
                <div class="page-footer-space"></div>
              </td>
            </tr>
          </tfoot>
        </table>
      </section>
    </div>
  </div>
</ion-content>
