.cell b {
  color: var(--ion-color-primary);
}



@media screen and (max-width: 1164px) {
  :host ::ng-deep {
    app-data-table.responsive .row .col-number, .table.responsive .row .col-number{
      &.Open-Quantity{
        margin-top:0 !important;
      }
      &.Input-Quantity{
        margin-top:1.25rem!important;
    
      }
      &.Output-Quantity{
        margin-top:2.5rem!important;
    
      }
      &.Closing-Inventory{
        margin-top:3.75rem!important;
    
      }
  
  }
  }
 

}
