<app-toolbar [page]="this"></app-toolbar>

<ion-content
  appScrollbarTheme
  class="left scrollx"
  [ngClass]="{withFeature: pageConfig.isShowFeature}"
  forceOverscroll="false"
>
  <ion-fab *ngIf="pageConfig.isShowFeature" class="feature no-print" vertical="bottom" horizontal="start" slot="fixed">
    <app-page-message [itemsLength]="1" [showSpinner]="pageConfig.showSpinner"></app-page-message>
    <div *ngIf="pageConfig.showSpinner==false">
      <div class="ion-padding" style="padding-bottom: 0">
        <app-form-control [field]="{branchConfig:{showingType:'Warehouse',selectedBranch:env.selectedBranch}
        ,id:'IDBranch',label:'Branch',type:'ng-select-branch', bindLabel:'Name', bindValue:'Id',dataSource:branchList, placeholder:'Select unit',form:formGroup}">
        </app-form-control>
<!-- 
        <div class="c-control">
          <label class="c-label" for="IDBranch">
            <ion-text color="primary"> {{'Warehouse' | translate}} </ion-text>
          </label>
          <ng-select
            class="c-input no-check-dirty"
            (change)="changeFilter()"
            appendTo=""
            [(ngModel)]="selectedBranch"
            labelForId="IDBranch"
            [items]="branchList"
            bindLabel="Name"
            bindValue=""
            placeholder="{{'Select unit' | translate}}"
          >
            <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
              <div *ngIf="i">
                <div>
                  <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span>
                  <span [ngOptionHighlight]="search">{{i.Name}}</span>
                </div>
              </div>
            </ng-template>
          </ng-select>
        </div> -->
        <!-- <app-form-control (change)="changeFilter()" [field]="{id:'IDStorer',label:'Storer', type:'ng-select', bindLabel:'Name', bindValue:'Id',dataSource:storerList, placeholder:'Select goods owner',form:formGroup}">
        </app-form-control> -->

        <!-- <app-form-control
        [field]="{id: 'IDStorer', label: 'Storer', type: 'ng-select-bp', form: formGroup,  dataSource: _storerDataSource,  bindLabel: 'Name',  bindValue: 'Id', multiple: true,clearable:true }"
        (change)="changeFilter()"
      ></app-form-control>
       -->
        <!-- <div class="c-control">
          <label class="c-label" for="Storer">
            <ion-text color="primary"> {{'Goods owner' | translate}} </ion-text>
          </label>
          <ng-select
            class="c-input no-check-dirty"
            (change)="changeFilter();"
            appendTo=""
            [(ngModel)]="selectedStorer"
            labelForId="Storer"
            [items]="storerList"
            bindLabel="Name"
            bindValue=""
            placeholder="{{'Select goods owner' | translate}}"
          >
            <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
              <div *ngIf="i">
                <div>
                  <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span>
                  <span [ngOptionHighlight]="search">{{i.Name}}</span>
                </div>
              </div>
            </ng-template>
          </ng-select>
        </div> -->

        <app-form-control [field]="{id:'IDPeriod',label:'Period', type:'ng-select', bindLabel:'Name', bindValue:'Id',dataSource:periodList, placeholder:'Select Period',form:formGroup}">
        </app-form-control>

        <div id="ng-select-header" style="position: absolute; z-index: 30005"></div>

        <app-form-control
        [field]="{id: 'IDItemGroup', label: 'Belonged to group', type: 'ng-select', form: formGroup,  dataSource: itemGroupList,  bindLabel: 'Name',  bindValue: 'Id',appendTo:'#ng-select-header',multiple:true,clearable:true,
          treeConfig:{searchFnDefault:true,isTree:true, isCollapsed:true}}"
      >
      </app-form-control>

        <app-form-control [field]="{id:'IDItem',label:'Item', type:'ng-select-item', bindLabel:'Name', bindValue:'Id',dataSource:_IDItemDataSource, placeholder:'Search for name or product code',multiple:true,clearable:true,form:formGroup}">
        </app-form-control>
    
       

        <app-form-control [field]="{id:'FromDate',label:'From date', type:'date', form:formGroup}">
        </app-form-control>

        <app-form-control [field]="{id:'ToDate',label:'To date', type:'date', form:formGroup}">
        </app-form-control>

        <app-form-control [field]="{id:'IsShowInputOutputHasData',label:'Only show items with transactions', type:'checkbox', form:formGroup}">
        </app-form-control>

        <div class="action-buttons sticky-bottom">
          <ion-grid>
            <ion-row>
                <ion-col size="12">
                  <ion-button (click)="changeFilter()" color="success" expand="block">
                    <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
                    {{ 'Filter' | translate }}
                  </ion-button>
                </ion-col>
                </ion-row>
                </ion-grid>
                </div>
      </div>
      <div class="ion-padding" style="padding-bottom: 0"></div>
    </div>
  </ion-fab>
  <app-data-table
  class="box-shadow responsive"
  [rows]="items"
  [trackBy]="'IDItem'"
  [showSpinner]="pageConfig.showSpinner"
  [showFilter]="pageConfig.isShowSearch"
  [(query)]="query"
  (dataInfinite)="changeFilter()"
  (filter)="onDatatableFilter($event)"
  (sort)="onSort($event)"
>
  <datatable-column class="col-name" name="Item" property="IDItem">
    <ng-template let-i="row" datatable-cell-template>
      <span [title]="i.ItemName">
        <a [routerLink]="'/item/' + i.IDItem" class="clickable"> 
          <ion-icon color="warning" *ngIf="i.IsDisabled" name="archive"></ion-icon>
          <span *ngIf="!i.IsDisabled">#</span>{{ i.IDItem }}&nbsp;</a>
        <b>{{ i.ItemCode }}</b> {{ i.ItemName }}
      </span>
    </ng-template>
  </datatable-column>
  <datatable-column class="col-code" name="UoM" property="UoMName">
  </datatable-column>
  <datatable-column class="col-number" name="Open quantity" property="OpenQuantity">
    <ng-template let-i="row" datatable-cell-template>
      {{ i.OpenQuantity | number:'1.0-0' }}
    </ng-template>
  </datatable-column>
  <datatable-column class="col-number" name="Input quantity" property="InputQuantity">
    <ng-template let-i="row" datatable-cell-template>
      {{ i.InputQuantity | number:'1.0-0' }}
    </ng-template>
  </datatable-column>
  <datatable-column class="col-number" name="Output quantity" property="OutputQuantity">
    <ng-template let-i="row" datatable-cell-template>
      {{ i.OutputQuantity | number:'1.0-0' }}
    </ng-template>
  </datatable-column>
 
  </app-data-table>
  
</ion-content>
