<app-toolbar [page]="this"></app-toolbar>

<ion-content
  appScrollbarTheme
  class="left scrollx"
  [ngClass]="{withFeature: pageConfig.isShowFeature}"
  forceOverscroll="false"
>
  <ion-fab *ngIf="pageConfig.isShowFeature" class="feature no-print" vertical="bottom" horizontal="start" slot="fixed">
    <app-page-message [itemsLength]="1" [showSpinner]="pageConfig.showSpinner"></app-page-message>
    <div *ngIf="pageConfig.showSpinner==false">
      <div class="ion-padding" style="padding-bottom: 0">
        <div class="c-control">
          <label class="c-label" for="IDBranch">
            <ion-text color="primary"> {{'Warehouse' | translate}} </ion-text>
          </label>
          <ng-select
            class="c-input no-check-dirty"
            (change)="changeFiler()"
            appendTo=""
            [(ngModel)]="selectedBranch"
            labelForId="IDBranch"
            [items]="branchList"
            bindLabel="Name"
            bindValue=""
            placeholder="{{'Select unit' | translate}}"
          >
            <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
              <div *ngIf="i">
                <div>
                  <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span>
                  <span [ngOptionHighlight]="search">{{i.Name}}</span>
                </div>
              </div>
            </ng-template>
          </ng-select>
        </div>

        <div class="c-control">
          <label class="c-label" for="Storer">
            <ion-text color="primary"> {{'Goods owner' | translate}} </ion-text>
          </label>
          <ng-select
            class="c-input no-check-dirty"
            (change)="changeFiler();"
            appendTo=""
            [(ngModel)]="selectedStorer"
            labelForId="Storer"
            [items]="storerList"
            bindLabel="Name"
            bindValue=""
            placeholder="{{'Select goods owner' | translate}}"
          >
            <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
              <div *ngIf="i">
                <div>
                  <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span>
                  <span [ngOptionHighlight]="search">{{i.Name}}</span>
                </div>
              </div>
            </ng-template>
          </ng-select>
        </div>

        <div class="c-control">
          <label class="c-label" for="Location">
            <ion-text color="primary"> {{'Period' | translate}} </ion-text>
          </label>

          <ng-select
            class="c-input no-check-dirty"
            (change)="changeFiler();"
            appendTo=""
            [(ngModel)]="selectedPeriod"
            labelForId="Period"
            [items]="periodList"
            bindLabel="Name"
            bindValue=""
            placeholder="{{'Select Period' | translate}}"
          >
            <ng-template ng-label-tmp let-i="item">
              <div *ngIf="i">
                <span><ion-text color="primary">#{{i.Id}} - {{i.Code}} </ion-text></span>
              </div>
            </ng-template>

            <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
              <div *ngIf="i">
                <span [ngOptionHighlight]="search">{{i.Code}}</span>
              </div>
            </ng-template>
          </ng-select>
        </div>

        <div class="c-control">
          <label class="c-label" for="IDItem">
            <ion-text color="primary"> {{'Item' | translate}} </ion-text>
          </label>
          <ng-select
            class="c-input no-check-dirty"
            (change)="changeFiler()"
            appendTo=""
            [(ngModel)]="selectedItem"
            labelForId="IDItem"
            [items]="itemList$ | async"
            [typeahead]="itemListInput$"
            [virtualScroll]="true"
            bindLabel="Name"
            bindValue=""
            placeholder="{{'Search for name or product code' | translate}}"
          >
            <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
              <div *ngIf="i">
                <div>
                  <span [ngOptionHighlight]="search">{{i.Name}}</span>
                </div>
                <small
                  >#<b><span class="important" [ngOptionHighlight]="search">{{i.Id}} - {{i.Code}}</span></b></small
                >
              </div>
            </ng-template>
          </ng-select>
        </div>

        <div class="c-control">
          <label class="c-label" for="ValidFrom">{{'From date' | translate}}</label>
          <input
            (change)="changeFiler()"
            [(ngModel)]="fromDate"
            class="c-input no-check-dirty"
            type="date"
            [disabled]="selectedPeriod && selectedPeriod.Id != 0"
          />
        </div>

        <div class="c-control">
          <label class="c-label" for="ValidTo">{{'To date' | translate}}</label>
          <input
            (change)="changeFiler()"
            [(ngModel)]="toDate"
            class="c-input no-check-dirty"
            [min]="fromDate"
            type="date"
            [disabled]="selectedPeriod && selectedPeriod.Id != 0"
          />
        </div>
      </div>
      <div class="ion-padding" style="padding-bottom: 0"></div>
    </div>
  </ion-fab>

  <div style="min-width: 300px; height: calc(100vh - 65px)">
    <section class="table">
      <header class="bold">
        <div class="col-checkbox cell"></div>
        <div class="col-name cell">{{'Item' | translate}}</div>

        <div class="col-number cell">{{'Đầu kỳ' |translate}}</div>
        <div class="col-number cell">{{'Số tấn' | translate}}</div>
        <div class="col-number cell">{{'Số khối' | translate}}</div>

        <div class="col-number cell">{{'Nhập' | translate}}</div>
        <div class="col-number cell">{{'Số tấn' | translate}}</div>
        <div class="col-number cell">{{'Số khối' | translate}}</div>

        <div class="col-number cell">{{'Xuất' | translate}}</div>
        <div class="col-number cell">{{'Số tấn' | translate}}</div>
        <div class="col-number cell">{{'Số khối' | translate}}</div>

        <div class="col-number cell">{{'Tồn cuối' | translate}}</div>
        <div class="col-number cell">{{'Số tấn' | translate}}</div>
        <div class="col-number cell">{{'Số khối' | translate}}</div>
      </header>
      <form (submit)="refresh()" action="#">
        <header class="filter" *ngIf="pageConfig.isShowSearch">
          <div class="col-checkbox cell"></div>
          <div class="col-name cell"></div>

          <div class="col-number cell"></div>
          <div class="col-number cell"></div>
          <div class="col-number cell"></div>
          <button mat-raised-button type="submit" style="display: none">{{'Search' | translate}}</button>
        </header>
      </form>

      <div
        *ngFor="let i of items; let j = index"
        class="row"
        [ngClass]="{ odd: j % 2 != 0 }"
        [ngClass]="{ selected: i.checked }"
      >
        <div class="col-checkbox cell">
          <input (click)="changeSelection(i, $event)" class="c-checkbox" [(ngModel)]="i.checked" type="checkbox" />
        </div>
        <div class="col-name cell">
          <span><b>{{ i.ItemCode }}</b> - {{ i.ItemName }}</span>
        </div>

        <div class="col-number cell">
          <b>{{ i.OpenQuantity }}</b>
        </div>
        <div class="col-number cell">{{ i.OpenCube }}</div>
        <div class="col-number cell">{{ i.OpenGrossWeight }}</div>

        <div class="col-number cell">
          <b>{{ i.InputQuantity }}</b>
        </div>
        <div class="col-number cell">{{ i.InputCube }}</div>
        <div class="col-number cell">{{ i.InputGrossWeight }}</div>

        <div class="col-number cell">
          <b>{{ i.OutputQuantity }}</b>
        </div>
        <div class="col-number cell">{{ i.OutputCube }}</div>
        <div class="col-number cell">{{ i.OutputGrossWeight }}</div>

        <div class="col-number cell">
          <b>{{ i.CloseQuantity }}</b>
        </div>
        <div class="col-number cell">{{ i.CloseCube }}</div>
        <div class="col-number cell">{{ i.CloseGrossWeight }}</div>
      </div>
    </section>
  </div>
  <ion-infinite-scroll
    color="primary"
    threshold="20%"
    (ionInfinite)="loadData($event)"
    [disabled]="!pageConfig.infiniteScroll || pageConfig.isEndOfData"
  >
    <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
