<ion-header>
	<app-toolbar [page]="this"> </app-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="header-table">
	<app-data-table
		class="box-shadow responsive"
		*ngIf="items"
		[rows]="items"
		[(selectedRows)]="selectedItems"
		(dataInfinite)="loadData($event)"
		[(query)]="query"
		(filter)="onDatatableFilter($event)"
		(sort)="onSort($event)"
		[showFilter]="pageConfig.isShowSearch"
		[showSpinner]="pageConfig.showSpinner"
	>
		<datatable-column [checkbox]="true"></datatable-column>
		<datatable-column class="col-id" name="Id" property="Id">
			<ng-template let-i="row" datatable-cell-template>
				<a [routerLink]="['/allocation-strategy/'+i.Id]">{{i.Id}}</a>
			</ng-template>
		</datatable-column>

		<datatable-column class="col-name" name="Name" property="Name"> </datatable-column>

		<datatable-column class="col-name" name="Warehouse" property="WarehouseName">
			<ng-template let-i="row" datatable-cell-template>
				{{i.WarehouseName}}
				<small class="address" *ngIf="i.WarehouseCode">
					<ion-text color="dark">{{i.WarehouseCode}}</ion-text>
				</small>
			</ng-template>
		</datatable-column>
	</app-data-table>
</ion-content>
