<ion-header>
  <app-toolbar [page]="this"> </app-toolbar>
  <div class="withFeature left" [ngClass]="{withFeature: pageConfig.isShowFeature}" *ngIf="pageConfig.isShowSearch">
    <section class="table">
      <header class="bold">
        <div class="col-checkbox cell"></div>
        <div class="col-name cell">
          {{'Search info' | translate}}
          <ion-icon
            class="min-btn"
            (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch"
            *ngIf="optionQuery.Keyword"
            name="search"
            color="primary"
          ></ion-icon>
        </div>
      </header>
      <form (submit)="preLoadData(null)" action="#">
        <header class="filter">
          <div class="col-checkbox cell"></div>
          <div class="cell">
            <input
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="optionQuery.Keyword"
              class="c-input"
              [ngClass]="{active: optionQuery.Keyword}"
              type="text"
            />
            <ion-icon
              class="min-btn"
              (click)="optionQuery.Keyword=''; preLoadData(null)"
              *ngIf="optionQuery.Keyword"
              name="close-circle-outline"
            ></ion-icon>
          </div>
          <button mat-raised-button type="submit" style="display: none">Search</button>
        </header>
      </form>
    </section>
  </div>
</ion-header>

<ion-content appScrollbarTheme class="left" [ngClass]="{withFeature: pageConfig.isShowFeature}" forceOverscroll="false">
  <ion-fab
    *ngIf="pageConfig.isShowFeature"
    [ngClass]="{withSearch: pageConfig.isShowSearch,'ion-hide-md-down': pageConfig.isSubActive}"
    class="feature no-print"
    vertical="bottom"
    horizontal="start"
    slot="fixed"
  >
    <app-page-message [itemsLength]="1" [showSpinner]="pageConfig.showSpinner"></app-page-message>
    <div *ngIf="pageConfig.showSpinner==false">
      <div class="ion-padding" style="padding-bottom: 0">
        <div class="c-control">
          <label class="c-label" for="IDBranch">
            <ion-text color="primary"> {{'Unit' | translate}} </ion-text>
          </label>
          <ng-select
            class="c-input no-check-dirty"
            [searchFn]="searchShowAllChildren"
            (change)="selectBranch();"
            [clearable]="true"
            appendTo=""
            #IDBranch
            [(ngModel)]="selectedBranch"
            labelForId="IDBranch"
            [items]="branchList"
            bindLabel="Name"
            bindValue=""
            placeholder="{{'Select unit' | translate}}"
          >
            <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
              <div *ngIf="i">
                <div>
                  <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span>
                  <ion-text [color]=" i.Type == 'Company'? 'primary':'dark'" [ngOptionHighlight]="search"
                    >{{i.Name}}</ion-text
                  >
                </div>
              </div>
            </ng-template>
          </ng-select>
        </div>
        <form [formGroup]="formGroup">
          <div class="c-control">
            <label class="c-label" for="Id">Id</label>
            <input class="c-input" readonly id="Id" formControlName="Id" type="number" />
          </div>
          <app-form-control
            [field]="{id:'Code', label: 'Code', type : 'text', form : formGroup }"
            (change)="saveChange()"
          >
          </app-form-control>
          <app-form-control
            [field]="{id:'Name', label: 'Name', type : 'text', form : formGroup }"
            (change)="saveChange()"
          >
          </app-form-control>
          <app-form-control
            [field]="{id:'Sort', label: 'Sort', type : 'number', form : formGroup }"
            (change)="saveChange()"
          >
          </app-form-control>
        </form>
      </div>
      <div>
        <ion-list-header lines="full">
          <ion-label color="dark">{{'Information' | translate}}</ion-label>
        </ion-list-header>
        <ion-list>
          <ng-container *ngFor="let i of optionGroup">
            <ion-item
              *ngIf="(this.selectedBranch && i.Code =='Accounts') || i.Code !='Accounts' "
              [color]="segmentView.Page == i.Code? 'primary': '' "
              button
              detail="true"
              lines="full"
              class="clickable"
              (click)="loadNode(i)"
            >
              <ion-label class="ion-text-wrap">
                <h3>{{i.Name}}</h3>
              </ion-label>
            </ion-item>
          </ng-container>
        </ion-list>
      </div>
      <div class="ion-padding" style="padding-bottom: 0"></div>
    </div>
  </ion-fab>
  <ion-grid fixed class="grid-parent">
    <ion-row>
      <ion-col size="12">
        <div class="ion-padding" style="min-width: 300px">
          <app-page-title
            class="ion-margin-bottom"
            *ngIf="selectedOption"
            icon="cog-outline"
            color="primary"
            [title]="selectedOption.Name"
          >
          </app-page-title>
          <app-page-message [itemsLength]="1" [showSpinner]="pageConfig.showSpinner"></app-page-message>
          <div class="main-view" *ngIf="pageConfig.showSpinner == false">
            <div class="row-full shadow full-screen ion-padding">
              <div id="generalInformation" *ngIf="segmentView.Page == 'GeneralInformation'">
                <ion-grid fixed>
                  <form [formGroup]="formGroup">
                    <!-- Other information -->
                    <ion-row class="hr-group" *ngIf="item.Id || selectedBranch">
                      <ion-col size="12" size-md="12" size-lg="12" size-xl="4">
                        <ion-list-header class="ion-no-padding">
                          <ion-label color="primary">{{'Other information' | translate}}</ion-label>
                        </ion-list-header>
                      </ion-col>
                      <ion-col size="12" size-md="12" size-lg="12" size-xl="6">
                        <app-form-control
                          [field]="{id:'CreatedBy', type : 'text', label: 'Created by', form : formGroup }"
                        ></app-form-control>
                        <app-form-control
                          [field]="{id:'CreatedDate', type : 'span-datetime', label: 'Created date', form : formGroup }"
                        ></app-form-control>
                        <app-form-control
                          [field]="{id:'ModifiedBy', type : 'text', label: 'Last modified by', form : formGroup }"
                        ></app-form-control>
                        <app-form-control
                          [field]="{id:'ModifiedDate', type : 'span-datetime', label: 'Last modified date', form : formGroup }"
                        ></app-form-control>

                        <app-form-control
                          [field]="{id:'IDBranch', type : 'branch-breadcrumbs', label: 'Branch', form : formGroup, dataSource:env.branchList }"
                        ></app-form-control>
                        <app-form-control
                          [field]="{id:'Remark', type : 'textarea', label: 'Remark', form : formGroup }"
                          (change)="saveChange()"
                        ></app-form-control>
                      </ion-col>
                    </ion-row>
                  </form>
                </ion-grid>
              </div>

              <div id="accounts" *ngIf="segmentView.Page == 'Accounts'">
                <div class="table-contain" id="unit-specification">
                  <form [formGroup]="formGroup">
                    <section class="table">
                      <header class="bold" style="padding-right: 0">
                        <div class="col-name cell">{{'Account type' | translate}}</div>
                        <div class="col-name cell">{{'Account' | translate}}</div>
                      </header>
                      <div class="row">
                        <div class="col-name cell">
                          <span>{{'Transfers account' | translate}}</span>
                        </div>
                        <div class="col-name cell">
                          <ng-select
                            class="c-input"
                            (change)="branchSelected ? saveItemGroupInBranch() : saveChange()"
                            labelForId="Account"
                            formControlName="Account"
                            [items]="ChartOfAccount"
                            bindLabel="Name"
                            bindValue="Code"
                            appendTo="#ng-select-holder"
                            [searchFn]="searchShowAllChildren"
                            placeholder="{{ 'Search account' | translate }}"
                          >
                            <ng-template ng-label-tmp let-i="item">
                              <ion-text>
                                <ion-text
                                  *ngIf="i.Code"
                                  [color]="!i.IsActiveAccount ? 'primary' : (i.IsControlAccount? 'success': 'dark') "
                                  ><b>{{i.Code}} -</b></ion-text
                                >
                                {{i.Name ?? 'Search account' | translate }}</ion-text
                              >
                            </ng-template>
                            <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                              <div *ngIf="i">
                                <div>
                                  <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span>
                                  <span [ngOptionHighlight]="search">
                                    <ion-text
                                      *ngIf="i.Code"
                                      [color]="!i.IsActiveAccount ? 'primary' : (i.IsControlAccount? 'success': 'dark') "
                                      ><b>{{i.Code}}</b></ion-text
                                    >
                                    - {{i.Name}}
                                    <span *ngIf="i.ForeignName"> - {{i.ForeignName}}</span>
                                  </span>
                                </div>
                              </div>
                            </ng-template>
                          </ng-select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-name cell">
                          <span>Inventory account</span>
                        </div>
                        <div class="col-name cell">
                          <ng-select
                            class="c-input"
                            (change)="branchSelected ? saveItemGroupInBranch() : saveChange()"
                            labelForId="AccountInventory"
                            formControlName="AccountInventory"
                            [items]="ChartOfAccount"
                            bindLabel="Name"
                            bindValue="Code"
                            appendTo="#ng-select-holder"
                            [searchFn]="searchShowAllChildren"
                            placeholder="{{ 'Search account' | translate }}"
                          >
                            <ng-template ng-label-tmp let-i="item">
                              <ion-text>
                                <ion-text
                                  *ngIf="i.Code"
                                  [color]="!i.IsActiveAccount ? 'primary' : (i.IsControlAccount? 'success': 'dark') "
                                  ><b>{{i.Code}} -</b></ion-text
                                >
                                {{i.Name ?? 'Search account' | translate }}</ion-text
                              >
                            </ng-template>
                            <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                              <div *ngIf="i">
                                <div>
                                  <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span>
                                  <span [ngOptionHighlight]="search">
                                    <ion-text
                                      *ngIf="i.Code"
                                      [color]="!i.IsActiveAccount ? 'primary' : (i.IsControlAccount? 'success': 'dark') "
                                      ><b>{{i.Code}}</b></ion-text
                                    >
                                    - {{i.Name}}
                                    <span *ngIf="i.ForeignName"> - {{i.ForeignName}}</span>
                                  </span>
                                </div>
                              </div>
                            </ng-template>
                          </ng-select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-name cell">
                          <span>{{'Cost of goods sold account' | translate}}</span>
                        </div>
                        <div class="col-name cell">
                          <ng-select
                            class="c-input"
                            (change)="branchSelected ? saveItemGroupInBranch() : saveChange()"
                            labelForId="AccountCostOfGoodsSold"
                            formControlName="AccountCostOfGoodsSold"
                            [items]="ChartOfAccount"
                            bindLabel="Name"
                            bindValue="Code"
                            appendTo="#ng-select-holder"
                            [searchFn]="searchShowAllChildren"
                            placeholder="{{ 'Search account' | translate }}"
                          >
                            <ng-template ng-label-tmp let-i="item">
                              <ion-text>
                                <ion-text
                                  *ngIf="i.Code"
                                  [color]="!i.IsActiveAccount ? 'primary' : (i.IsControlAccount? 'success': 'dark') "
                                  ><b>{{i.Code}} -</b></ion-text
                                >
                                {{i.Name ?? 'Search account' | translate }}</ion-text
                              >
                            </ng-template>
                            <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                              <div *ngIf="i">
                                <div>
                                  <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span>
                                  <span [ngOptionHighlight]="search">
                                    <ion-text
                                      *ngIf="i.Code"
                                      [color]="!i.IsActiveAccount ? 'primary' : (i.IsControlAccount? 'success': 'dark') "
                                      ><b>{{i.Code}}</b></ion-text
                                    >
                                    - {{i.Name}}
                                    <span *ngIf="i.ForeignName"> - {{i.ForeignName}}</span>
                                  </span>
                                </div>
                              </div>
                            </ng-template>
                          </ng-select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-name cell">
                          <span>{{'Price difference account' | translate}}</span>
                        </div>
                        <div class="col-name cell">
                          <ng-select
                            class="c-input"
                            (change)="branchSelected ? saveItemGroupInBranch() : saveChange()"
                            labelForId="AccountPriceDifference"
                            formControlName="AccountPriceDifference"
                            [items]="ChartOfAccount"
                            bindLabel="Name"
                            bindValue="Code"
                            appendTo="#ng-select-holder"
                            [searchFn]="searchShowAllChildren"
                            placeholder="{{ 'Search account' | translate }}"
                          >
                            <ng-template ng-label-tmp let-i="item">
                              <ion-text>
                                <ion-text
                                  *ngIf="i.Code"
                                  [color]="!i.IsActiveAccount ? 'primary' : (i.IsControlAccount? 'success': 'dark') "
                                  ><b>{{i.Code}} -</b></ion-text
                                >
                                {{i.Name ?? 'Search account' | translate }}</ion-text
                              >
                            </ng-template>
                            <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                              <div *ngIf="i">
                                <div>
                                  <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span>
                                  <span [ngOptionHighlight]="search">
                                    <ion-text
                                      *ngIf="i.Code"
                                      [color]="!i.IsActiveAccount ? 'primary' : (i.IsControlAccount? 'success': 'dark') "
                                      ><b>{{i.Code}}</b></ion-text
                                    >
                                    - {{i.Name}}
                                    <span *ngIf="i.ForeignName"> - {{i.ForeignName}}</span>
                                  </span>
                                </div>
                              </div>
                            </ng-template>
                          </ng-select>
                        </div>
                      </div>
                    </section>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
