.full-screen {
	min-height: calc(100vh - 335px);
}

.table-contain {
	max-width: 1440px;
	margin: auto;
}

@media screen and (min-width: 2048px) {
	.grid-parent {
		min-width: fit-content;
	}
	.main-view .row-full.shadow {
		width: 1400px;
	}
	.grid-child {
		min-width: fit-content;
	}
}
.table-contain .table .row .cell {
	height: 31px;
}
