<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start" class="ion-hide-sm-down_">
			<ion-button color="dark" class="ion-hide-sm-down">
				Tạo nhãn bàn
			</ion-button>
		</ion-buttons>
		<ion-buttons slot="end">
			<!-- <ion-button (click)="changePrintMode()" title="{{'erp.app.pages.shipping.delivery-note.print-mode' | translate}}">
				<ion-icon slot="icon-only" [name]="printMode == 'Ruy96' ? 'cut-outline':'file-tray-full-outline'"></ion-icon>
			</ion-button> -->
			<span class="split ion-hide-sm-down">|</span>
			<ion-button (click)="print()" title="{{'erp.app.pages.shipping.delivery-note.print' | translate}}">
				<ion-icon slot="icon-only" name="print"></ion-icon>
			</ion-button>
			<ion-button (click)="refresh()" title="{{'erp.app.pages.shipping.delivery-note.refresh' | translate}}">
				<ion-icon slot="icon-only" name="reload-outline"></ion-icon>
			</ion-button>
			<ion-button title="{{'erp.app.pages.shipping.delivery-note.show-feature' | translate}}" (click)="pageConfig.isShowFeature = !pageConfig.isShowFeature;">
				<ion-icon slot="icon-only" [name]="pageConfig.isShowFeature? 'close-outline':'list-circle-outline'">
				</ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>


<ion-content appScrollbarTheme appPrintFix class="Ruy96 left" [ngClass]="{withFeature: pageConfig.isShowFeature}">
	<ion-fab *ngIf="pageConfig.isShowFeature" [ngClass]="{withSearch: pageConfig.isShowSearch}" class="feature no-print " vertical="top" horizontal="start" slot="fixed">
		<div class="ion-padding">
			<div class="c-control">
				<label class="c-label" for="TableGroup">Thuộc khu</label>
				<ng-select (change)="changeGroup($event);" bindLabel="Name" bindValue="Id" labelForId="TableGroup" [(ngModel)]="item.TableGroup" [items]="TableGroupDataSource.items$ | async" [typeahead]="TableGroupDataSource.input$" [loading]="TableGroupDataSource.loading" placeholder="{{'Search' | translate}}" class="c-input no-check-dirty" [virtualScroll]="true">
					<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
						<div *ngIf="i">
							<div> <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span> <span [ngOptionHighlight]="search">{{i.Name}}</span></div>
						</div>
					</ng-template>
				</ng-select>
			</div>

			<div class="c-control">
				<label class="c-label" for="IDTable">
					<ion-text color="primary">
						Tìm bàn
					</ion-text>
				</label>
				<ng-select (change)="TableChange($event);" labelForId="IDTable" [multiple]="true" [closeOnSelect]="false" [(ngModel)]="item.Table" [items]="IDTableDataSource.items$ | async" [typeahead]="IDTableDataSource.input$" [loading]="IDTableDataSource.loading" placeholder="{{'Search' | translate}}" class="c-input no-check-dirty" [virtualScroll]="true">
					<ng-template ng-label-tmp let-i="item" let-clear="clear">
						<div>
							<span>{{i.Name}}</span>
							<b><span class="important"> {{i.Id}}</span></b>
							<ion-icon (click)="clear(i)" name="close-outline"></ion-icon>
						</div>
					</ng-template>
					<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
						<div *ngIf="i">
							<div><span>#{{i.Id}}</span> - <span [ngOptionHighlight]="search">{{i.Name}}</span></div>
							<small><b><span class="important" [ngOptionHighlight]="search">{{i.Name}}</span></b></small>
						</div>
					</ng-template>
				</ng-select>
			</div>
		</div>
		<div class="functions-list">
			<ion-grid fixed>
				<ion-row>
					<ion-col>
						<ion-button expand="block" (click)="createPages()" [disabled]="!item.Table.length || submitAttempt">
							Tạo nhãn in
						</ion-button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>
	</ion-fab>

	<app-page-message [itemsLength]="items.length" [showSpinner]="pageConfig.showSpinner"></app-page-message>

	<div style="overflow: auto;" *ngIf="items.length && !pageConfig.showSpinner">
		<section class="sheet rpt">
			<table>
				<!-- <thead>
					<tr>
						<td>
							<div class="page-header-space"></div>
						</td>
					</tr>
				</thead> -->
				<tbody>
					<tr>
						<td>
							<div class="top-zone">
								<div class="label" [ngClass]="{odd: j % 2 != 0}" *ngFor="let l of items; let j = index;">
									<div class="l-frame">
										<div class="l-img-code" >
											<img class="qrc" [src]="l.QRC" [ngStyle]="{width: ''+ lableConfig.QRCodeWidth + 'px' }">
										</div>
										<div class="l-logo"></div>
										<div class="l-title">
											<!-- <div class="l-read-code" [ngStyle]="{'font-size': ''+ lableConfig.CodeFontSize + 'px' }" >
												{{l.Value}} - {{l.data.Name}}
											</div> -->
											<div class="l-item-name" [ngStyle]="{'font-size': ''+ lableConfig.NameFontSize + 'px' , '-webkit-line-clamp': ''+ lableConfig.NameLineClamp + '' }"   > 
												#{{l.data.Id}} - {{l.data.Name}}
											</div>
											
										</div>
									</div>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
				<!-- <tfoot>
					<tr>
						<td>
							<div class="page-footer-space"></div>
						</td>
					</tr>
				</tfoot> -->
			</table>
		</section>
	</div>
</ion-content>
