<ion-header>
	<app-toolbar [page]="this" ></app-toolbar>
	<section class="table">
		<header class="bold">
			<div class="col-checkbox cell"></div>
			<div class="col-id cell" (click)="sortToggle('Id')">
				{{'Id' | translate}}
				<ion-icon class="min-btn" *ngIf="sort.Id" [name]="sort.Id == 'Id'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Id" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-name cell" (click)="sortToggle('WarehouseName')">
				{{'Warehouse' | translate}}
				<ion-icon class="min-btn" *ngIf="sort.WarehouseName" [name]="sort.WarehouseName == 'WarehouseName'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.WarehouseName" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-name cell" (click)="sortToggle('WarehouseCode')">
				{{'Code' | translate}}
				<ion-icon class="min-btn" *ngIf="sort.WarehouseCode" [name]="sort.WarehouseCode == 'WarehouseCode'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.WarehouseCode" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-status cell" (click)="sortToggle('Status')">
				{{'Status' | translate}}
				<ion-icon class="min-btn" *ngIf="sort.Status" [name]="sort.Status == 'Status'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Status" name="search" color="primary"></ion-icon>
			</div>
		</header>
	</section>
</ion-header>

<ion-content appScrollbarTheme class="header-table">
	<app-page-message [itemsLength]="items.length" [showSpinner]="pageConfig.showSpinner"></app-page-message>
	<div *ngIf="items.length && pageConfig.showSpinner==false">
		<section class="table">
					<div *ngFor="let i of items; let j = index;"  class="row" [ngClass]="{odd: j % 2 != 0}" [ngClass]="{selected: i.checked}">
						<div class="col-checkbox cell">
							<input (click)="changeSelection(i, $event)" class="c-checkbox" [(ngModel)]="i.checked" type="checkbox">
						</div>
						<div (click)="nav('adjustment/'+i.Id,'forward')" class="col-id cell">
							{{i.Id}}
						</div>
						<div (click)="nav('adjustment/'+i.Id,'forward')" class="col-name cell">
							{{i.WarehouseName}}
						</div>
						<div (click)="nav('adjustment/'+i.Id,'forward')" class="col-name cell">
							{{i.WarehouseCode}}
						</div>
						<div  class="col-status cell">
							{{i.Status}}
						</div>
					</div>
				
		</section>
	</div>
	<ion-infinite-scroll color="primary" threshold="20%" (ionInfinite)="loadData($event)" [disabled]="!pageConfig.infiniteScroll || pageConfig.isEndOfData">
		<ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>