<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start" class="ion-hide-sm-down_">
			<ion-button color="dark" class="ion-hide-sm-down">
				{{'erp.app.pages.wms.batch-picking.page-title' | translate}}
			</ion-button>
		</ion-buttons>

		<ion-buttons slot="end">
			<ion-button (click)="print()" title="{{'erp.app.pages.wms.batch-picking.print' | translate}}">
				<ion-icon slot="icon-only" name="print"></ion-icon>
			</ion-button>

			<ion-button (click)="refresh()" title="{{'erp.app.pages.wms.batch-picking.refresh' | translate}}">
				<ion-icon slot="icon-only" name="reload-outline"></ion-icon>
			</ion-button>

			<ion-button title="{{'erp.app.pages.wms.batch-picking.show-feature' | translate}}" (click)="pageConfig.isShowFeature = !pageConfig.isShowFeature;">
				<ion-icon slot="icon-only" [name]="pageConfig.isShowFeature? 'close-outline':'list-circle-outline'">
				</ion-icon>
			</ion-button>

		</ion-buttons>
	</ion-toolbar>
</ion-header>


<ion-content appScrollbarTheme appPrintFix class="A4 left" [ngClass]="{withFeature: pageConfig.isShowFeature}">
	<ion-fab *ngIf="pageConfig.isShowFeature" style="height: calc(100% - 93px);" [ngClass]="{withSearch: pageConfig.isShowSearch}" class="feature no-print " vertical="top" horizontal="start" slot="fixed">

		<ion-list>
			<ion-list-header lines="full">
				<ion-label color="dark">{{'erp.app.pages.wms.batch-picking.vehicle-pending' | translate}}</ion-label>

				<ion-button size="small" (click)="toggleDateFilter()">
					<ion-icon slot="icon-only" [name]="query.IDStatus=='[301]' ? 'calendar-outline' : 'calendar'"></ion-icon>
				</ion-button>
			</ion-list-header>

			<ion-item lines="full" *ngIf="query.IDStatus!='[301]'">
				<div class="c-control">
					<label class="c-label" for="DeliveryDate">{{'erp.app.pages.wms.batch-picking.delivery-date' | translate}}</label>
					<input class="c-input" (change)="refresh()" id="DeliveryDate" type="date" [(ngModel)]="query.DeliveryDate">
				</div>
			</ion-item>
		</ion-list>



		<ion-list>
			<ion-item lines="full" *ngFor="let i of items">
				<ion-checkbox slot="start" [(ngModel)]="i.isChecked"></ion-checkbox>

				<ion-label class="ion-text-wrap">
					<ion-text>
						<h3>{{i.VehicleName}} - {{i.ShipperName}}</h3>
					</ion-text>
					<p>
						<b>
							<small>
								<ion-text color="primary">SH:{{i.Id}}</ion-text>
							</small>
							<ion-text color="dark"> - {{i.DeliveryDateText}}</ion-text>
						</b>
					</p>
				</ion-label>

				
			</ion-item>
		</ion-list>



	</ion-fab>
	<ion-fab style="height: 93px; top: auto; box-shadow: 0 0px 3px 2px #efefef;" *ngIf="pageConfig.isShowFeature" class="feature no-print" vertical="bottom" horizontal="start" slot="fixed">
		<div class="ion-padding" *ngIf="pageConfig.canExport">
			<ion-button (click)="loadBatchPicking()" [disabled]="submitAttempt" style="width: 135px">
				{{'erp.app.pages.wms.batch-picking.load-batch-picking' | translate}}
			</ion-button>
			<ion-button (click)="exportPicking()" [disabled]="submitAttempt" style="width: 135px">
				{{'erp.app.pages.wms.batch-picking.export-picking' | translate}}
			</ion-button>
		</div>
		<div class="ion-padding" *ngIf="!pageConfig.canExport">
			<ion-button (click)="loadBatchPicking()" expand="block" shape="round" [disabled]="submitAttempt">
				{{'erp.app.pages.wms.batch-picking.load-batch-picking' | translate}}
			</ion-button>
		</div>
	</ion-fab>
	<div style="overflow: auto;">

		<ng-container *ngFor="let s of warehouses">

			<section class="sheet rpt" *ngIf="s.count > 1">
				<table>
					<thead>
						<tr>
							<td>
								<div class="page-header-space"></div>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="top-zone">
									<table class="rpt-header" cellpadding="0" cellspacing="0">

										<tr>
											<td class="head-c1">{{'erp.app.pages.wms.batch-picking.warehouse' | translate}}:</td>
											<td class="bol">{{s.Name}} ({{s.Phone}})</td>
											<td class="num"></td>
											<td class="bol"></td>
											<td class="num">{{'erp.app.pages.wms.batch-picking.print-date' | translate}}: </td>
											<td class="num bol ngay-hd"> {{ ngayIn }}</td>
										</tr>
										<tr>
											<td colspan="6" class="bol title">{{'erp.app.pages.wms.batch-picking.picking-title' | translate}} ({{'erp.app.pages.wms.batch-picking.for' | translate}} {{s.count}} {{'erp.app.pages.wms.batch-picking.vehicle' | translate}}) </td>
										</tr>
									</table>



									<div class="ds-san-pham">
										<table cellpadding="0" cellspacing="0">
											<tr class="head">

												<td class="cen">{{'erp.app.pages.wms.batch-picking.stt' | translate}}</td>
												<td>
													<div class="ten-sp">{{'erp.app.pages.wms.batch-picking.item' | translate}}</div>
												</td>

												<td class="num">{{'erp.app.pages.wms.batch-picking.box' | translate}}</td>
												<td class="num">{{'erp.app.pages.wms.batch-picking.odd' | translate}}</td>
												<td class="ghi-chu cen">{{'erp.app.pages.wms.batch-picking.remark' | translate}}</td>

											</tr>

											<ng-container *ngFor="let i of s.itemList; let idx = index; ">

												<tr *ngIf="i.isShowGroup" class="head">

													<td colspan="5">
														<div class="ten-sp">{{i.ItemGroupName}}</div>
													</td>
												</tr>
												<ng-container *ngFor="let uom of i.UoMs; let gdx = index; ">
													<tr>
														<td class="cen" [attr.rowspan]="i.UoMs.length" *ngIf="gdx == 0">{{idx+1}}</td>
														<td [attr.rowspan]="i.UoMs.length" *ngIf="gdx == 0">
															<div class="ten-sp"><b *ngIf="i.ItemCode">{{i.ItemCode}}</b><b *ngIf="!i.ItemCode">{{i.IDItem}}</b> - {{i.ItemName}}</div>
														</td>

														<td class="num big" *ngIf="uom.IDUoM == 0"> <span *ngIf="uom.InventoryQuantity">{{uom.InventoryQuantity}}</span> </td>
														<td class="num big" *ngIf="uom.IDUoM == 0"> <span *ngIf="uom.BaseQuantity"> {{uom.BaseQuantity}} </span> </td>

														<td colspan="2" class="ion-text-center big" *ngIf="uom.IDUoM != 0">{{uom.Quantity}} {{uom.UoMName}}</td>

														<td></td>
													</tr>

												</ng-container>
											</ng-container>



										</table>
									</div>

									<div class="no-break-page">
										<table cellpadding="0" cellspacing="0">
											<tr>
												<td class="">
													<div class="line2">
														{{'erp.app.pages.wms.batch-picking.line-1-note' | translate}} <br />
														{{'erp.app.pages.wms.batch-picking.line-2-note' | translate}}
													</div>

												</td>
											</tr>
										</table>


										<table class="chu-ky" cellpadding="0" cellspacing="0">
											<tr>

												<td>
													{{'erp.app.pages.wms.batch-picking.stocker' | translate}}
													<div class="line2">
														{{'erp.app.pages.wms.batch-picking.sign-full-name' | translate}}
													</div>
												</td>
												<td>
													{{'erp.app.pages.wms.batch-picking.shipper-title' | translate}}
													<div class="line2">
														{{'erp.app.pages.wms.batch-picking.sign-full-name' | translate}}
													</div>
												</td>
												<td>
													{{'erp.app.pages.wms.batch-picking.saleman' | translate}}
													<div class="line2">
														{{'erp.app.pages.wms.batch-picking.sign-full-name' | translate}}
													</div>
												</td>
												<td>
													{{'erp.app.pages.wms.batch-picking.accountant' | translate}}
													<div class="line2">
														{{'erp.app.pages.wms.batch-picking.sign-full-name' | translate}}
													</div>
												</td>
											</tr>

										</table>
									</div>
								</div>

							</td>
						</tr>
					</tbody>

					<tfoot>
						<tr>
							<td>
								<div class="page-footer-space"></div>
							</td>
						</tr>
					</tfoot>
				</table>
			</section>
		</ng-container>

		<section class="sheet rpt" *ngFor="let s of sheets">
			<table>
				<thead>
					<tr>
						<td>
							<div class="page-header-space"></div>
						</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<div class="top-zone">
								<table class="rpt-header" cellpadding="0" cellspacing="0">

									<tr>
										<td class="head-c1">{{'erp.app.pages.wms.batch-picking.warehouse' | translate}}:</td>
										<td class="bol">{{s.WarehouseName}} ({{s.WarehousePhone}})</td>
										<td class="num"></td>
										<td class="bol"></td>
										<td class="num">{{'erp.app.pages.wms.batch-picking.delivery-date' | translate}}: </td>
										<td class="num bol ngay-hd"> {{s.DeliveryDateText}}</td>
									</tr>
									<tr>
										<td colspan="6" class="bol title">{{'erp.app.pages.wms.batch-picking.picking-title' | translate}}</td>
									</tr>
								</table>

								<table class="rpt-header rpt-nvgh-header" cellpadding="0" cellspacing="0">
									<tbody>
										<tr>
											<td class="head-c1">{{'erp.app.pages.wms.batch-picking.shipper' | translate}}:</td>
											<td class="bol">{{s.Vehicle}} - {{s.ShipperName}} <span *ngIf="s.ShipperPhone"> - {{s.ShipperPhone}}</span></td>
										</tr>
									</tbody>
								</table>

								<div class="ds-san-pham">
									<table cellpadding="0" cellspacing="0">
										<tr class="head">

											<td class="cen">{{'erp.app.pages.wms.batch-picking.stt' | translate}}</td>
											<td>
												<div class="ten-sp">{{'erp.app.pages.wms.batch-picking.item' | translate}}</div>
											</td>

											<td class="num">{{'erp.app.pages.wms.batch-picking.box' | translate}}</td>
											<td class="num">{{'erp.app.pages.wms.batch-picking.odd' | translate}}</td>
											<td class="ghi-chu cen">{{'erp.app.pages.wms.batch-picking.remark' | translate}}</td>

										</tr>

										<ng-container *ngFor="let i of s.Items; let idx = index; ">
											<tr *ngFor="let uom of i.UoMs; let gdx = index; ">
												<td class="cen" [attr.rowspan]="i.UoMs.length" *ngIf="gdx == 0">{{idx+1}}</td>
												<td [attr.rowspan]="i.UoMs.length" *ngIf="gdx == 0">
													<div class="ten-sp"><b *ngIf="i.ItemCode">{{i.ItemCode}}</b><b *ngIf="!i.ItemCode">{{i.IDItem}}</b> - {{i.ItemName}}</div>
												</td>

												<td class="num big" *ngIf="uom.IDUoM == 0"> <span *ngIf="uom.InventoryQuantity">{{uom.InventoryQuantity}}</span> </td>
												<td class="num big" *ngIf="uom.IDUoM == 0"> <span *ngIf="uom.BaseQuantity"> {{uom.BaseQuantity}} </span> </td>

												<td colspan="2" class="ion-text-center big" *ngIf="uom.IDUoM != 0">{{uom.Quantity}} {{uom.UoMName}}</td>

												<td></td>
											</tr>
										</ng-container>
									</table>
								</div>

								<div class="no-break-page">
									<table cellpadding="0" cellspacing="0">
										<tr>
											<td class="">
												<div class="line2">
													{{'erp.app.pages.wms.batch-picking.line-1-note' | translate}} <br />
													{{'erp.app.pages.wms.batch-picking.line-2-note' | translate}}
												</div>

											</td>
										</tr>
									</table>


									<table class="chu-ky" cellpadding="0" cellspacing="0">
										<tr>

											<td>
												{{'erp.app.pages.wms.batch-picking.stocker' | translate}}
												<div class="line2">
													{{'erp.app.pages.wms.batch-picking.sign-full-name' | translate}}
												</div>
											</td>
											<td>
												{{'erp.app.pages.wms.batch-picking.shipper-title' | translate}}
												<div class="line2">
													{{'erp.app.pages.wms.batch-picking.sign-full-name' | translate}}
												</div>
											</td>
											<td>
												{{'erp.app.pages.wms.batch-picking.saleman' | translate}}
												<div class="line2">
													{{'erp.app.pages.wms.batch-picking.sign-full-name' | translate}}
												</div>
											</td>
											<td>
												{{'erp.app.pages.wms.batch-picking.accountant' | translate}}
												<div class="line2">
													{{'erp.app.pages.wms.batch-picking.sign-full-name' | translate}}
												</div>
											</td>
										</tr>

									</table>
								</div>
							</div>

						</td>
					</tr>
				</tbody>

				<tfoot>
					<tr>
						<td>
							<div class="page-footer-space"></div>
						</td>
					</tr>
				</tfoot>
			</table>
		</section>

	</div>

</ion-content>