<ion-header collapse="fade">
	<ion-toolbar>
		<ion-title>{{item.Name}}</ion-title>
		<ion-buttons slot="primary">
			<ion-button title="{{'Close' | translate}}" color="secondary" (click)="closeModal()">
				<ion-icon slot="icon-only" name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content appScrollbarTheme class="ion-padding">
	<form [formGroup]="formGroup">
		<ion-grid fixed>
			<ion-row>
				<ion-col size="12" size-sm="12" size-md="6">
					<app-form-control [field]="{id:'Name', form : formGroup }" (change)="saveChange()"></app-form-control>
					<app-form-control
						[field]="{id:'Type', type : 'ng-select', dataSource: typeList, bindLabel: 'Name', bindValue: 'Name', form: formGroup }"
						(change)="saveChange()"
					></app-form-control>
					<app-form-control [field]="{id:'Sort', form : formGroup }" (change)="saveChange()"></app-form-control>
				</ion-col>
				<ion-col size="12" size-sm="12" size-md="6">
					<app-form-control [field]="{id:'Id', form : formGroup }"></app-form-control>
					<app-form-control [field]="{id:'Remark', type : 'textarea', label: 'Remark', form : formGroup }" (change)="saveChange()"></app-form-control>
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col size="12" size-sm="12" size-md="6">
					<app-form-control [field]="{id:'CreatedBy', label: 'Created by', form : formGroup }"></app-form-control>
					<app-form-control [field]="{id:'CreatedDate', type : 'span-datetime', label: 'Created date', form : formGroup }"></app-form-control>
				</ion-col>
				<ion-col size="12" size-sm="12" size-md="6">
					<app-form-control [field]="{id:'ModifiedBy', label: 'Last modified by', form : formGroup }"></app-form-control>
					<app-form-control [field]="{id:'ModifiedDate', type : 'span-datetime', label: 'Last modified date', form : formGroup }"></app-form-control>
				</ion-col>
			</ion-row>
		</ion-grid>
	</form>
</ion-content>
<ion-footer collapse="fade">
	<ion-toolbar>
		<div slot="start">
        </div>
		
		<div slot="end">
			<ion-button [strong]="true" *ngIf="!item.Id" (click)="saveChange()">
				{{'Add' | translate}}
			</ion-button>
			<ion-button [strong]="true" *ngIf="item.Id" (click)="saveChange()" [disabled]="!formGroup.dirty">
				{{'Save' | translate}}
			</ion-button>
			<ion-button fill="outline" *ngIf="item.Id" (click)="refresh()" color="warning">
				{{'Change cancel' | translate}}
			</ion-button>
			<ion-button fill="outline" *ngIf="item.Id && pageConfig.canDelete" (click)="delete()" color="danger">
				{{'Delete' | translate}}
			</ion-button>
            <ion-button fill="outline" color="warning" (click)="closeModal()" >
                {{'Cancel' | translate}}
            </ion-button>
        </div>
		
	</ion-toolbar>
</ion-footer>
